extends layouts/_layout

block slides
  include pugs/Iterative_Learning_with_Open-set_Noisy_Labels.pug
  include pugs/Hand_PointNet_3D_Hand_Pose_Estimation_using_Point_Sets.pug
  include pugs/Toward_Driving_Scene_Understanding_A_Dataset_for_Learning_Driver_Behavior_and_Causal_Reasoning.pug
  include pugs/A_High-Quality_Denoising_Dataset_for_Smartphone_Cameras.pug
  include pugs/Fast_and_Furious_Real_Time_End-to-End_3D_Detection_Tracking_and_Motion_Forecasting_with_a_Single_Convolutional_Net.pug
  include pugs/Low-Shot_Learning_from_Imaginary_Data.pug
  include pugs/Multi-View_Harmonized_Bilinear_Network_for_3D_Object_Recognition.pug
  include pugs/Disentangled_Person_Image_Generation.pug
  include pugs/Learning_Pose_Specific_Representations_by_Predicting_Different_Views.pug
  include pugs/Fine-grained_Video_Captioning_for_Sports_Narrative.pug
  include pugs/GANerated_Hands_for_Real-Time_3D_Hand_Tracking_From_Monocular_RGB.pug
  include pugs/A_Certifiably_Globally_Optimal_Solution_to_the_Non-Minimal_Relative_Pose_Problem.pug
  include pugs/LiDAR-Video_Driving_Dataset_Learning_Driving_Policies_Effectively.pug
  include pugs/Collaborative_and_Adversarial_Network_for_Unsupervised_domain_adaptation.pug
  include pugs/Look_at_Boundary_A_Boundary-Aware_Face_Alignment_Algorithm.pug
  include pugs/Revisiting_knowledge_transfer_for_training_object_class_detectors.pug
  include pugs/Fight_Ill-Posedness_With_Ill-Posedness_Single-Shot_Variational_Depth_Super-Resolution_From_Shading.pug
  include pugs/Multistage_Adversarial_Losses_for_Pose-Based_Human_Image_Synthesis.pug
  include pugs/Cross-Modal_Deep_Variational_Hand_Pose_Estimation.pug
  include pugs/Progressive_Attention_Guided_Recurrent_Network_for_Salient_Object_Detection.pug
  include pugs/Scale-Transferrable_Object_Detection.pug
  include pugs/Weakly_and_Semi_Supervised_Human_Body_Part_Parsing_via_Pose-Guided_Knowledge_Transfer.pug
  include pugs/Occluded_Pedestrian_Detection_Through_Guided_Attention_in_CNNs
  include pugs/FaceID-GAN_Learning_a_Symmetry_Three-Player_GAN_for_Identity-Preserving_Face_Synthesis.pug
  include pugs/Unsupervised_Sparse_Dirichlet-Net_for_Hyperspectral_Image_Super-Resolution.pug
  include pugs/3D_Semantic_Segmentation_with_Submanifold_Sparse_Convolutional_Networks.pug
  include pugs/Im2Struct_Recovering_3D_Shape_Structure_from_a_Single_RGB_Image.pug
  include pugs/3D-RCNN_Instance-level_3D_Object_Reconstruction_via_Render-and-Compare.pug
  include pugs/Optimizing_Video_Object_Detection_via_a_Scale-Time_Lattice.pug
  include pugs/Distort-and-Recover_Color_Enhancement_using_Deep_Reinforcement_Learning.pug
  include pugs/W2F_A_Weakly-Supervised_to_Fully-Supervised_Framework_for_Object_Detection.pug
  include pugs/Learning_Descriptor_Networks_for_3D_Shape_Synthesis_and_Analysis.pug
  include pugs/PointGrid_A_Deep_Network_for_3D_Shape_Understanding.pug
  include pugs/Hybrid_Camera_Pose_Estimation.pug
  include pugs/MegDet_A_Large_Mini-Batch_Object_Detector.pug
  include pugs/Rotation_Averaging_and_Strong_Duality.pug
  include pugs/An_Unsupervised_Learning_Model_for_Deformable_Medical_Image_Registration.pug
  include pugs/Recurrent_Scene_Parsing_with_Perspective_Understanding_in_the_Loop.pug
  include pugs/Mobile_Video_Object_Detection_with_Temporally-Aware_Feature_Maps.pug
  include pugs/Dense_Decoder_Shortcut_Connections_for_Single-Pass_Semantic_Segmentation.pug
  include pugs/Recognize_Actions_by_Disentangling_Components_of_Dynamics.pug
  include pugs/Single-Shot_Refinement_Neural_Network_for_Object_Detection.pug
  include pugs/Neural_Kinematic_Networks_for_Unsupervised_Motion_Retargetting.pug
  include pugs/Cross-Domain_Weakly-Supervised_Object_Detection_through_Progressive_Domain_Adaptation.pug
  include pugs/Real-Time_Monocular_Depth_Estimation_Using_Synthetic_Data_With_Domain_Adaptation_via_Image_Style_Transfer.pug
  include pugs/Unsupervised_Domain_Adaptation_with_Similarity_Learning.pug
  include pugs/Image-Image_Domain_Adaptation_with_Preserved_Self-Similarity_and_Domain_Dissimilarity_for_Person_Re-identification.pug
  include pugs/Boosting_Domain_Adaptation_by_Discovering_Latent_Domains.pug
  include pugs/Large_Scale_Fine-Grained_Categorization_and_the_Effectiveness_of_Domain-Specific_Transfer_Learning.pug
  include pugs/Residual_Parameter_Transfer_for_Deep_Domain_Adaptation.pug
  include pugs/Importance_Weighted_Adversarial_Nets_for_Partial_Domain_Adaptation.pug
  include pugs/Domain_Generalization_with_Adversarial_Feature_Learning.pug
  include pugs/Adversarial_Feature_Augmentation_for_Unsupervised_Domain_Adaptation.pug
  include pugs/Dynamic_Video_Segmentation_Network.pug
  include pugs/Deep_Cross-media_Knowledge_Transfer.pug
  include pugs/Dynamic_Graph_Generation_Network_Generating_Relational_Knowledge_from_Diagrams.pug
  include pugs/Instance_Embedding_Transfer_to_Unsupervised_Video_Object_Segmentation.pug
  include pugs/Depth-Aware_Stereo_Video_Retargeting.pug
  include pugs/Frustum_PointNets_for_3D_Object_Detection_from_RGB-D_Data.pug
  include pugs/Dynamic_Zoom-in_Network_for_Fast_Object_Detection_in_Large_Images.pug
  include pugs/Efficient_Video_Object_Segmentation_via_Network_Modulation.pug
  include pugs/Real-world_Anomaly_Detection_in_Surveillance_Videos.pug
  include pugs/Normalized_Cut_Loss_for_Weakly-supervised_CNN_Segmentation.pug
  include pugs/Burst_Denoising_with_Kernel_Prediction_Networks.pug
  include pugs/MaskLab_Instance_Segmentation_by_Refining_Object_Detection_with_Semantic_and_Direction_Features.pug
  include pugs/Making_Convolutional_Networks_Recurrent_for_Visual_Sequence_Learning.pug
  include pugs/Inferring_Shared_Attention_in_Social_Scene_Videos.pug
  include pugs/Aperture_Supervision_for_Monocular_Depth_Estimation.pug
  include pugs/Deep_End-to-End_Time-of-Flight_Imaging.pug
  include pugs/Dont_Just_Assume_Look_and_Answer_Overcoming_Priors_for_Visual_Question_Answering.pug
  include pugs/Fooling_Vision_and_Language_Models_Despite_Localization_and_Attention_Mechanism.pug
  include pugs/Visual_Question_Reasoning_on_General_Dependency_Tree.pug
  include pugs/Blind_Predicting_Similar_Quality_Map_for_Image_Quality_Assessment.pug
  include pugs/AMNet_Memorability_Estimation_with_Attention.pug
  include pugs/Lose_The_Views_Limited_Angle_CT_Reconstruction_via_Implicit_Sinogram_Completion.pug
  include pugs/Learning_to_Extract_a_Video_Sequence_from_a_Single_Motion-Blurred_Image.pug
  include pugs/Learning_to_Detect_Features_in_Texture_Images.pug
  include pugs/Smart_Sparse_Contours_to_Represent_and_Edit_Images.pug
  include pugs/R-FCN-3000_at_30fps_Decoupling_Detection_and_Classification.pug
  include pugs/Learning_to_See_in_the_Dark.pug
  include pugs/AVA_A_Video_Dataset_of_Spatio-temporally_Localized_Atomic_Visual_Actions.pug
  include pugs/SGAN_An_Alternative_Training_of_Generative_Adversarial_Networks.pug
  include pugs/Conditional_Generative_Adversarial_Network_for_Structured_Domain_Adaptation.pug
  include pugs/Learning_to_Sketch_with_Shortcut_Cycle_Consistency.pug
  include pugs/Show_Me_a_Story_Towards_Coherent_Neural_Story_Illustration.pug
  include pugs/SO-Net_Self_Organizing_Network_for_Point_Cloud_Analysis.pug
  include pugs/Large-scale_Point_Cloud_Semantic_Segmentation_with_Superpoint_Graphs.pug
  include pugs/FoldingNet_Point_Cloud_Auto_encoder_via_Deep_Grid_Deformation.pug
  include pugs/FFNet_Video_Fast-Forwarding_via_Reinforcement_Learning.pug
  include pugs/Egocentric_Activity_Recognition_on_a_Budget.pug
  include pugs/A2-RL_Aesthetics_Aware_Reinforcement_Learning_for_Image_Cropping.pug
  include pugs/Good_View_Hunting_Learning_Photo_Composition_from_Dense_View_Pairs.pug
  include pugs/DVQA_Understanding_Data_Visualization_via_Question_Answering.pug
  include pugs/RotationNet_Joint_Object_Categorization_and_Pose_Estimation_Using_Multiviews_from_Unsupervised_Viewpoints.pug
  include pugs/Visual_to_Sound_Generating_Natural_Sound_for_Videos_in_the_Wild.pug
  include pugs/Functional_Map_of_the_World.pug
  include pugs/Deep_Cocktail_Networks_Multi-source_Unsupervised_Domain_Adaptation_with_Category_Shift.pug
  include pugs/Unsupervised_Correlation_Analysis.pug
  include pugs/Transferable_Joint_Attribute-Identity_Deep_Learning_for_Unsupervised_Person_Re-Identification.pug
  include pugs/Duplex_Generative_Adversarial_Network_for_Unsupervised_Domain_Adaptation.pug
  include pugs/Pixels_voxels_and_views_A_study_of_shape_representations_for_single_view_3D_object_shape_prediction.pug
  include pugs/PlaneNet_Piece-wise_Planar_Reconstruction_from_a_Single_RGB_Image.pug
  include pugs/PointNetVLAD_Deep_Point_Cloud_Based_Retrieval_for_Large-Scale_Place_Recognition.pug
  include pugs/Pix3D_Dataset_and_Methods_for_3D_Object_Modeling_from_a_Single_Image.pug
  include pugs/Learning_to_Look_Around_Intelligently_Exploring_Unseen_Environments_for_Unknown_Tasks.pug
  include pugs/PU-Net_Point_Cloud_Upsampling_Network.pug
  include pugs/Deep_Unsupervised_Saliency_Detection_A_Multiple_Noisy_Labeling_Perspective.pug
  include pugs/Cross-View_Image_Synthesis_using_Conditional_GANs.pug
  include pugs/Multimodal_Explanations_Justifying_Decisions_and_Pointing_to_the_Evidence.pug
  include pugs/A_Variational_U-Net_for_Conditional_Appearance_and_Shape_Generation.pug
  include pugs/Total_Capture_A_3D_Deformation_Model_for_Tracking_Faces_Hands_and_Bodies.pug
  include pugs/SfSNet_Learning_Shape_Reflectance_and_Illuminance_of_Faces_in_the_Wild.pug
  include pugs/Whos_Better_Whos_Best_Pairwise_Deep_Ranking_for_Skill_Determination.pug
  include pugs/LiteFlowNet_A_Lightweight_Convolutional_Neural_Network_for_Optical_Flow_Estimation.pug
  include pugs/Person_Transfer_GAN_to_Bridge_Domain_Gap_for_Person_Re-Identification.pug
  include pugs/Zero-Shot_Sketch-Image_Hashing.pug
  include pugs/Lions_and_Tigers_and_Bears_Capturing_Non-Rigid_3D_Articulated_Shape_from_Images.pug
  include pugs/DOTA_A_Large-scale_Dataset_for_Object_Detection_in_Aerial_Images.pug
  include pugs/Illuminant_Spectra-based_Source_Separation_Using_Flash_Photography.pug
  include pugs/Multi-Label_Zero-Shot_Learning_with_Structured_Knowledge_Graphs.pug
  include pugs/Wasserstein_Introspective_Neural_Networks.pug
  include pugs/Nonlinear_3D_Face_Morphable_Model.pug
  include pugs/UV-GAN_Adversarial_Facial_UV_Map_Completion_for_Pose-invariant_Face_Recognition.pug
  include pugs/LIME_Live_Intrinsic_Material_Estimation.pug
  include pugs/Fast_End-to-End_Trainable_Guided_Filter.pug
  include pugs/Guide_Me_Interacting_with_Deep_Networks.pug
  include pugs/Face_Detector_Adaptation_without_Negative_Transfer_or_Catastrophic_Forgetting.pug
  include pugs/Extreme_3D_Face_Reconstruction_Looking_Past_Occlusions.pug
  include pugs/InverseFaceNet_Deep_Monocular_Inverse_Face_Rendering.pug
  include pugs/Towards_Pose_Invariant_Face_Recognition_in_the_Wild.pug
  include pugs/Ring_loss_Convex_Feature_Normalization_for_Face_Recognition.pug
  include pugs/Label_Denoising_Adversarial_Network_LDAN_for_Inverse_Lighting_of_Face_Images.pug
  include pugs/Disentangling_3D_Pose_in_A_Dendritic_CNN_for_Unconstrained_2D_Face_Alignment.pug
  include pugs/Multi-Image_Semantic_Matching_by_Mining_Consistent_Features.pug
  include pugs/Learning_Intrinsic_Image_Decomposition_from_Watching_the_World.pug
  include pugs/Photographic_Text-to-Image_Synthesis_with_a_Hierarchically-nested_Adversarial_Network.pug
  include pugs/Connecting_Pixels_to_Privacy_and_Utility_Automatic_Redaction_of_Private_Information_in_Images.pug
  include pugs/Disentangling_Structure_and_Aesthetics_for_Style-aware_Image_Completion.pug
  include pugs/DeblurGAN_Blind_Motion_Deblurring_Using_Conditional_Adversarial_Networks.pug
  include pugs/Learning_to_Understand_Image_Blur.pug
  include pugs/Tags2Parts_Discovering_Semantic_Regions_from_Shape_Tags.pug
  include pugs/Neural_3D_Mesh_Renderer.pug
  include pugs/Demo2Vec_Reasoning_Object_Affordances_from_Online_Videos.pug
  include pugs/Probabilistic_Plant_Modeling_via_Multi-View_Image-to-Image_Translation.pug
  include pugs/ROAD_Reality_Oriented_Adaptation_for_Semantic_Segmentation_of_Urban_Scenes.pug
  include pugs/Gated_Fusion_Network_for_Single_Image_Dehazing.pug
  include pugs/AdaDepth_Unsupervised_Content_Congruent_Adaptation_for_Depth_Estimation.pug
  include pugs/End-to-end_learning_of_keypoint_detector_and_descriptor_for_pose_invariant_3D_matching.pug
  include pugs/AttnGAN_Fine-Grained_Text_to_Image_Generation_with_Attentional_Generative_Adversarial_Networks.pug
  include pugs/From_source_to_target_and_back_Symmetric_Bi-Directional_Adaptive_GAN.pug
  include pugs/Deep_Photo_Enhancer_Unpaired_Learning_for_Image_Enhancement_from_Photographs_with_GANs.pug
  include pugs/Imagine_it_for_me_Generative_Adversarial_Approach_for_Zero-Shot_Learning_from_Noisy_Texts.pug
  include pugs/MoCoGAN_Decomposing_Motion_and_Content_for_Video_Generation.pug
  include pugs/Finding_It_Weakly-Supervised_Reference-Aware_Visual_Grounding_in_Instructional_Videos.pug
  include pugs/Practical_Block-wise_Neural_Network_Architecture_Generation.pug
  include pugs/Residual_Dense_Network_for_Image_Super-Resolution.pug
  include pugs/Three_Dimension_Human_Pose_Estimation_in_the_Wild_by_Adversarial_Learning.pug
  include pugs/Gesture_Recognition_Focus_on_the_Hands.pug
  include pugs/Direct_Shape_Regression_Networks_for_End-to-End_Face_Alignment.pug
  include pugs/Scale-recurrent_Network_for_Deep_Image_Deblurring.pug
  include pugs/Convolutional_Neural_Networks_with_Alternately_Updated_Clique.pug
  include pugs/Geometry_Guided_Convolutional_Neural_Networks_for_Self_Supervised_Video_Representation_Learning.pug
  include pugs/Learning_to_Compare_Relation_Network_for_Few-Shot_Learning.pug
  include pugs/MegaDepth_Learning_Single-View_Depth_Prediction_from_Internet_Photos.pug
  include pugs/Real-Time_Rotation-Invariant_Face_Detection_with_Progressive_Calibration_Networks.pug
  include pugs/Partially_Shared_Multi-Task_Convolutional_Neural_Network_with_Local_Constraint_for_Face_Attribute_Learning.pug
  include pugs/Deep_Semantic_Face_Deblurring.pug
  include pugs/Learning_to_Adapt_Structured_Output_Space_for_Semantic_Segmentation.pug
  include pugs/Multi_Task_Learning_Using_Uncertainty_to_Weigh_Losses_for_Scene_Geometry_and_Semantics.pug
  include pugs/Compare_and_Contrast_Learning_Prominent_Visual_Differences.pug
  include pugs/Learning_Rich_Features_for_Image_Manipulation_Detection.pug
  include pugs/Real-Time_Seamless_Single_Shot_6D_Object_Pose_Prediction
  include pugs/Video_Captioning_via_Hierarchical_Reinforcement_Learning.pug
  include pugs/Multi-view_Consistency_as_Supervisory_Signal_for_Learning_Shape_and_Pose_Prediction.pug
  include pugs/PAD_Net_Multi-Tasks_Guided_Prediction_and_Distillation_Network_for_Simultaneous_Depth_Estimation_and_Scene_Parsing.pug
  include pugs/Convolutional_Sequence_to_Sequence_Model_for_Human_Dynamics.pug
  include pugs/LSTM_Pose_Machines.pug
  include pugs/DecideNet_Counting_Varying_Density_Crowds_Through_Attention_Guided_Detection_and_Density_Estimation.pug
  include pugs/Cascaded_Pyramid_Network_for_Multi-Person_Pose_Estimation.pug
  include pugs/One-shot_Action_Localization_by_Learning_Sequence_Matching_Network.pug
  include pugs/Exploit_the_Unknown_Gradually_One-Shot_Video-Based_Person_Re-Identification_by_Stepwise_Learning.pug
  include pugs/PoseTrack_A_Benchmark_for_Human_Pose_Estimation_and_Tracking.pug
  include pugs/Camera_Style_Adaptation_for_Person_Re-identification.pug
  include pugs/Dense_3D_Regression_for_Hand_Pose_Estimation.pug
  include pugs/Disentangling_Features_in_3D_Face_Shapes_for_Joint_Face_Reconstruction_and_Recognition.pug
  include pugs/Seeing_Small_Faces_from_Robus_Anchors_Perspective.pug
  include pugs/Exploring_Disentangled_Feature_Representation_Beyond_Face_Identification.pug
  include pugs/Robust_Facial_Landmark_Detection_via_a_Fulaly-Convolutional_Local-Global_Context_Network.pug
  include pugs/Direction-aware_Spatial_Context_Features_for_Shadow_Detection.pug
  include pugs/Learning_to_Act_Properly_Predicting_and_Explaining_Affordances_from_Images.pug
  include pugs/Discriminability_objective_for_training_descriptive_captions.pug
  include pugs/A_Face-to-Face_Neural_Conversation_Model.pug
  include pugs/CosFace_Large_Margin_Cosine_Loss_for_Deep_Face_Recogntion.pug
  include pugs/Sparse_Photometric_3D_Face_Reconstruction_Guided_by_Morphable_Models.pug
  include pugs/FSRNet_End-to-End_Learning_Face_Super-Resolution_with_Facial_Priors.pug
  include pugs/2D3D_Pose_Estimation_and_Action_Recognition_using_Multitask_Deep_Learning.pug
  include pugs/Maximum_Classifier_Discrepancy_for_Unsupervised_Domain_Adaptation.pug
  include pugs/Generative_Non-Rigid_Shape_Completion_with_Graph_Convolutional_Autoencoders.pug
  include pugs/Eye_In-Painting_with_Exemplar_Generative_Adversarial_Networks.pug
  include pugs/Logo_Synthesis_and_Manipulation_with_Clustered_Generative_Adversarial_Networks.pug
  include pugs/Multi-Agent_Diverse_Generative_Adversarial_Networks.pug
  include pugs/SketchyGAN_Towards_Diverse_and_Realistic_Sketch_to_Image_Synthesis.pug
  include pugs/ScanComplete_Large-Scale_Scene_Completion_and_Semantic_Segmentation_for_3D_Scans.pug
  include pugs/Learning_from_Millions_of_3D_Scans_for_Large-scale_3D_Face_Recognition.pug
  include pugs/Learning_to_Generate_Time-Lapse_Videos_Using_Multi-Stage_Dynamic_Generative_Adversarial_Networks.pug
  include pugs/Hyperparameter_Optimization_for_Tracking_with_Continuous_Deep_Q-Learning.pug
  include pugs/Tangent_Convolutions_for_Dense_Prediction_in_3D.pug
  include pugs/Im2Pano3D_Extrapolating_360_Structure_and_Semantics_Beyond_the_Field_of_View.pug
  include pugs/Deep_image_prior.pug
  include pugs/Edit_Probability_for_Scene_Text_Recognition.pug
  include pugs/iVQA_Inverse_Visual_Question_Answering
  include pugs/Sketch-a-Classifier_Sketch-based_Photo_Classifier_Generation.pug
  include pugs/ST-GAN_Spatial_Transformer_Generative_Adversarial_Networks_for_Image_Compositing.pug
  include pugs/Two_can_play_this_Game_Visual_Dialog_with_Discriminative_Visual_Question_Generation_and_Visual_Question_Answering.pug
  include pugs/Social_GAN_Socially_Acceptable_Trajectories_with_Generative_Adversarial_Networks.pug
  include pugs/Neural_Baby_Talk.pug
  include pugs/Attentive_Generative_Adversarial_Network_for_Raindrop_Removal_from_a_Single_Image.pug
  include pugs/Deformable_GANs_for_Pose-based_Human_Image_Generation.pug
  include pugs/VizWiz_Grand_Challenge_Answering_Visual_Questions_from_Blind_People.pug
  include pugs/Glimpse_Clouds_Human_Activity_Recognition_from_Unstructured_Feature_Points.pug
  include pugs/High-Resolution_Image_Synthesis_and_Semantic_Manipulation_with_Conditional_GANs.pug
  include pugs/Five-point_Fundamental_Matrix_Estimation_for_Uncalibrated_Cameras.pug
  include pugs/Defense_against_Adversarial_Attacks_Using_High-Level_Representation_Guided_Denoiser.pug
  include pugs/Customized_Image_Narrative_Generation_via_Interactive_Visual_Question_Generation_and_Answering.pug
  include pugs/First-Person_Hand_Action_Benchmark_with_RGB-D_Videos_and_3D_Hand_Pose_Annotations.pug
  include pugs/PointFusion_Deep_Sensor_Fusion_for_3D_Bounding_Box_Estimation.pug
  include pugs/Path_Aggregation_Network_for_Instance_Segmentation.pug
  include pugs/StarGAN_Unified_Generative_Adversarial_Networks_for_Multi_Domain_Image_to_Image_Translation.pug
  include pugs/Semi-parametric_Image_Synthesis.pug
  include pugs/Hierarchical_Novelty_Detection_for_Visual_Object_Recognition
  include pugs/Revisiting_Salient_Object_Detection_Simultaneous_Detection_Ranking_and_Subitizing_of_Multiple_Salient_Objects.pug
  include pugs/Rethinking_the_Faster_R-CNN_Architecture_for_Temporal_Action_Localization.pug
  include pugs/PWC-Net_CNNs_for_Optical_Flow_Using_Pyramid_Warping_and_Cost_Volume.pug
  include pugs/LEGO_Learning_Edge_with_Geometry_all_at_Once_by_Watching_Videos.pug
  include pugs/DA-GAN_Instance-level_Image_Translation_by_Deep_Attention_Generative_Adversarial_Network.pug
  include pugs/PhaseNet_for_Video_Frame_Interpolation.pug
  include pugs/Multi-scale_Location-aware_Kernel_Representation_for_Object_Detection.pug
  include pugs/Self_supervised_Learning_of_Geometrically_Stable_Features_Through_Probabilistic_Introspection.pug
  include pugs/Squeeze-and-Excitation_Networks.pug
  include pugs/ClusterNet_Detecting_Small_Objects_in_Large_Scenes_by_Exploiting_Spatio-Temporal_Information.pug
  include pugs/An_Analysis_of_Scale_Invariance_in_Object_Detection-SNIP.pug
  include pugs/The_iNaturalist_Species_Classification_and_Detection_Dataset.pug
  include pugs/Between-class_Learning_for_Image_Classification.pug
  include pugs/CleanNet_Transfer_Learning_for_Scalable_Image_Classifier_Training_with_Label_Noise.pug
  include pugs/Super-Resolving_Very_Low-Resolution_Face_Images_with_Supplementary_Attributes.pug
  include pugs/Single-Shot_Object_Detection_with_Enriched_Semantics.pug
  include pugs/Revisiting_Deep_Intrinsic_Image_Decompositions.pug
  include pugs/Self-supervised_Multi-level_Face_Model_Learning_for_Monocular_Reconstruction_at_over_250_Hz.pug
  include pugs/TextureGAN_Controlling_Deep_Image_Synthesis_with_Texture_Patches.pug
  include pugs/Learning_Deep_Models_for_Face_Anti-Spoofing.pug
  include pugs/Adversarially_Learned_One-Class_Classifier_for_Novelty_Detection.pug
  include pugs/Feature_Space_Transfer_for_Data_Augmentation.pug
  include pugs/Deep_Extreme_Cut_From_Extreme_Points_to_Object_Segmentation.pug
  include pugs/Detail-Preserving_Pooling_in_Deep_Networks.pug
  include pugs/Learning_a_Single_Convolutional_Super-Resolution_Network_for_Multiple_Degradations.pug
  include pugs/Super-FAN_Integrated_facial_landmark_localization_and_super-resolution_of_real-world_low_resolution_faces_in_arbitrary_poses_with_GANs.pug
  include pugs/Image_Correction_via_Deep_Reciprocating_HDR_Transfromation.pug
  include pugs/Visual_Question_Answering_with_Memory_Augmented_Networks.pug
  include pugs/Deep_Layer_Aggregation.pug
  include pugs/Data_Distillation_Towards_Omni_Supervised_Learning.pug
  include pugs/Actor_and_Observer_Joint_Modeling_of_First_and_Third-Person_Videos.pug
  include pugs/The_Best_of_Both_Worlds_Combining_CNNs_and_Geometric_Constraints_for_Hierarchical_Motion_Segmentation.pug
  include pugs/Regularizing_RNNs_for_Caption_Generation_by_Reconstructing_The_Past_with_The_Present.pug
  include pugs/Repulsion_Loss_Detecting_Pedestrian_in_a_Crowd.pug
  include pugs/PackNet_Adding_Multiple_Tasks_to_a_Single_Network_by_Iterative_Pruning.pug
  include pugs/Tell_Me_Where_to_Look_Guided_Attention_Inference_Network.pug
  include pugs/Beyond_Trade_off_Accelerate_FCN_based_Face_Detector_with_Higher_Accuracy.pug
  include pugs/Deep_Marching_Cubes_Learning_Explicit_Surface_Representations.pug
  include pugs/Convolutional_Image_Captioning.pug
  include pugs/Are_You_Talking_to_Me_Reasoned_Visual_Dialog_Generation_through_Adversarial_Learning.pug
  include pugs/Density_Adaptive_Point_Set_Registration.pug
  include pugs/pOSE_Pseudo_Object_Space_Error_for_Initialization-Free_Bundle_Adjustment.pug
  include pugs/Finding_Tiny_Faces_in_the_Wild_with_Generative_Adversarial_Network.pug
  include pugs/Context_Encoding_for_Semantic_Segmentation.pug
  include pugs/Video_Based_Reconstruction_of_3D_People_Models.pug
  include pugs/Relation_Networks_for_Object_Detection.pug
  include pugs/PPFNet_Global_Context_Aware_Local_Features_for_Robust_3D_Point_Matching.pug
  include pugs/Geometry-Aware_Generative_Adversarial_Networks.pug
  include pugs/IQA_Visual_Question_Answering_in_Interactive_Environments.pug
  include pugs/On_the_Robustness_of_Semantic_Segmentation_Models_to_Adversarial_Attacks.pug
  include pugs/CodeSLAM_---_Learning_a_Compact_Optimisable_Representation_for_Dense_Visual_SLAM.pug
  include pugs/Learning_by_asking_questions.pug
  include pugs/Learning_Spatial-Temporal_Regularized_Correlation_Filters_for_Visual_Tracking.pug
  include pugs/Learning_Spatial-Aware_Regressions_for_Visual_Tracking.pug
  include pugs/Improved_Fusion_of_Visual_and_Language_Representations_by_Dense_Symmetric_Co-Attention_for_Visual_Question_Answering.pug
  include pugs/Deep_Voting_A_Robust_and_Explainable_Deep_Network_for_Semantic_Part_Detection_under_Partial_Occlusion.pug
  include pugs/Feature_Mapping_for_Learning_Fast_and_Accurate_3D_Pose_Inference_from_Synthetic_Images.pug
  include pugs/Embodied_Question_Answering.pug
  include pugs/Learning_from_Synthetic_Data_Addressing_Domain_Shift_for_Semantic_Segmentation.pug
  include pugs/Natural_and_Effective_Obfuscation_by_Head_Inpainting.pug
  include pugs/Augmenting_Crowd-Sourced_3D_Reconstructions_using_Semantic_Detections.pug
  include pugs/Single_View_Stereo_Matching.pug
  include pugs/Learning_Face_Age_Progression_A_Pyramid_Architecture_of_GANs.pug
  include pugs/Image_Generation_from_Scene_Graphs.pug
  include pugs/Bottom-Up_and_Top-Down_Attention_for_Image_Captioning_and_Visual_Question_Answering.pug
  include pugs/Tips_and_Tricks_for_Visual_Question_Answering_Learning_from_the_2017_Challenge.pug
  include pugs/What_Makes_a_Video_a_Video_Analyzing_Temporal_Information_in_Video_Understanding_Models_and_Datasets.pug
  include pugs/Surface_Networks.pug
  include pugs/SPLATNet_Sparse_Lattice_Networks_for_Point_Cloud_Processing.pug
  include pugs/From_Lifestyle_Vlogs_to_Everyday_Interactions.pug
  include pugs/Seeing_Voices_and_Hearing_Faces_Cross-modal_biometric_matching.pug
  include pugs/Actor_and_Action_Video_Segmentation_from_a_Sentence.pug
  include pugs/Alive_Caricature_from_2D_to_3D.pug
  include pugs/A_Minimalist_Approach_to_Type-Agnostic_Detection_of_Quadrics_in_Point_Clouds.pug
  include pugs/COCO-Stuff_Thing_and_Stuff_Classes_in_Context.pug
  include pugs/Context-aware_Synthesis_for_Video_Frame_Interpolation.pug
  include pugs/Deep_Depth_Completion_of_a_Single_RGB-D_Image.pug
  include pugs/Detecting_and_Recognizing_Human-Object_Interactions.pug
  include pugs/Discriminative_Learning_of_Latent_Features_for_Zero-Shot_Recognition.pug
  include pugs/Domain_Adaptive_Faster_R-CNN_for_Object_Detection_in_the_Wild.pug
  include pugs/Efficient_Interactive_Annotation_of_Segmentation_Datasets_with_Polygon-RNN.pug
  include pugs/Egocentric_Basketball_Motion_Planning_from_a_Single_First-Person_Image.pug
  include pugs/Fast_and_Accurate_Single_Image_Super-Resolution_via_Information_Distillation_Network.pug
  include pugs/Future_Frame_Prediction_for_Anomaly_Detection_--_A_New_Baseline.pug
  include pugs/Guided_Labeling_using_Convolutional_Neural_Networks.pug
  include pugs/HATS_Histograms_of_Averaged_Time_Surfaces_for_Robust_Event-based_Object_Classification.pug
  include pugs/Improving_Object_Localization_with_Fitness_NMS_and_Bounded_IoU_Loss.pug
  include pugs/Independently_Recurrent_Neural_Network_IndRNN_Building_A_Longer_and_Deeper_RNN.pug
  include pugs/Iterative_Visual_Reasoning_Beyond_Convolutions.pug
  include pugs/LayoutNet_Reconstructing_the_3D_Room_Layout_from_a_Single_RGB_Image.pug
  include pugs/Learning_to_Localize_Sound_Source_in_Visual_Scenes.pug
  include pugs/Learning_to_Segment_Every_Thing.pug
  include pugs/MakeupGAN_Makeup_Transfer_via_Cycle-Consistent_Adversarial_Networks.pug
  include pugs/Motion-Appearance_Co-Memory_Networks_for_Video_Question_Answering.pug
  include pugs/Multi-Frame_Quality_Enhancement_for_Compressed_Video.pug
  include pugs/Multi-Level_Factorisation_Net_for_Person_Re-Identification.pug
  include pugs/Non-local_Neural_Networks.pug
  include pugs/Pose-Robust_Face_Recognition_via_Deep_Residual_Equivariant_Mapping.pug
  include pugs/Pyramid_Stereo_Matching_Network.pug
  include pugs/Referring_Relationships.pug
  include pugs/Rethinking_Feature_Distribution_for_Loss_Functions_in_Image_Classification.pug
  include pugs/Robust_Depth_Estimation_from_Auto_Bracketed_Images.pug
  include pugs/Rotation-Sensitive_Regression_for_Oriented_Scene_Text_Detection.pug
  include pugs/SketchMate_Deep_Hashing_for_Million-Scale_Human_Sketch_Retrieval.pug
  include pugs/Style_Aggregated_Network_for_Facial_Landmark_Detection.pug
  include pugs/The_Unreasonable_Effectiveness_of_Deep_Features_as_a_Perceptual_Metric.pug
  include pugs/TOM-Net_Learning_Transparent_Object_Matting_from_a_Single_Image.pug
  include pugs/Towards_Human-Machine_CooperationSelf-supervised_Sample_Mining_for_Object_Detection.pug
  include pugs/Towards_Open-Set_Identity_Preserving_Face_Synthesis.pug
  include pugs/Towards_Universal_Representation_for_Unseen_Action_Recognition.pug
  include pugs/Unsupervised_Cross-dataset_Person_Re-identification_by_Transfer_Learning_of_Spatial-Temporal_Patterns.pug
  include pugs/Unsupervised_Cross-dataset_Person_Re-identification_by_Transfer_Learning_of_Spatio-temporal_Patterns.pug
  include pugs/Unsupervised_Textual_Grounding_Linking_Words_to_Image_Concepts.pug
  include pugs/Vision-and-Language_Navigation_Interpreting_visually-grounded_navigation_instructions_in_real_environments.pug
  include pugs/Weakly-Supervised_Action_Segmentation_with_Iterative_Soft_Boundary_Assignment.pug
  include pugs/Who_Let_The_Dogs_Out_Modeling_Dog_Behavior_From_Visual_Data.pug
  include pugs/Zero-shot_Recognition_via_Semantic_Embeddings_and_Knowledge_Graphs.pug
  include pugs/Zoom_and_Learn_Generalizing_Deep_Stereo_Matching_to_Novel_Domains.pug
