-
  var pslides=[
    pugs/Coherence_in_One-Shot_Gesture_Recognition_for_Human-Robot_Interaction,
    pugs/HMDwo_mochiita_3jigen_gesture_sousani_yoru_botsunyuugata_tentai_kyouzaino_kaihatsu,
    pugs/Learning_Intelligent_Dialogs_for_Bounding_Box_Annotation,
  ];