+slide
section#ID_3D_Human_Sensing_Action_and_Emotion_Recognition_in_Robot_Assisted_Therapy_of_Children_With_Autism
  .paper-abstract
    .title 3D Human Sensing, Action and Emotion Recognition in Robot Assisted Therapy of Children With Autism
    .info
      .authors Elisabeta Marinoiu, Mihai Zanfir, Vlad Olaru, Cristian Sminchisescu
      .conference CVPR 2018
    .slide_editor: a(href="http://hirokatsukataoka.net/" target="blank") Hirokatsu Kataoka

    .item1
      .text
        h1 概要
        p 児童心理ケアのシーンにおいて3D次元姿勢推定、行動認識、感情推定を実施した。長期の動画撮影、多様な行動、部分的にしか身体が映っていない、児童の年齢が異なる、などの課題があるが、このような環境にて上記タスクを行なった。詳細行動/感情認識（fine-grained action, emotion recognition）を行うために3,700動画を撮影（各動画は10-15分の長さを保有）、37人の児童から19の頻出行動を分類。
    .item2
      .text
        p
          img(src=`${figpath}180709PoseActionEmotion.png`,alt="180709PoseActionEmotion")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 提案手法は姿勢推定においてKinectとcompetitiveな精度を実現するとともに、行動認識や感情推定では良好な精度を実現、Child-Robot Interactionに関する新しいタスクを定義した。
    .item4
      .text
        h1 コメント・リンク集
        p Child-Robot Interaction、新しいタスクである。大人とは異なり、子供の行動/感情は年齢により大きく異なりそうである。
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/html/Marinoiu_3D_Human_Sensing_CVPR_2018_paper.html") 論文
          li
            a(href="http://vision.imar.ro/de-enigma/") Project
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.9 09:07:24
