+slide
section#ID_3D_Semantic_Segmentation_with_Submanifold_Sparse_Convolutional_Networks
  .paper-abstract
    .title 3D Semantic Segmentation with Submanifold Sparse Convolutional Networks
    .info
      .authors Benjamin Graham, Laurens van der Maaten, Martin Engelcke
      .conference CVPR 2018
      .paper_id 1248
    .slide_editor Yue Qiu

    .item1
      .text
        h1 概要
        ul
          li スパース性が持ったデータ(ポイントクラウドなど)をより効率的で畳み込むsparse convolutional operationsを提案した．また，提案operationsを用いて新たな高次元スパースデータを有効的に処理できるsubmanifold sparse convolutional networks(SSCNs)を提案した．
          li 従来の問題点：従来のCNNをsparse dataに用いたら計算及びメモリーの効率が良くない問題点がある．また，従来のスパースデータのためのネットワークは主に”full convolution”を行うためスパースデータをdilateしてしまう問題点がある．また，従来のCNNは層が深まることにより，active sitesが大幅に増加してしまうような“submanifold dilation problem”がある．
          li 以上の様々な問題から，“ネットワークの異なる層で同じレベルのactive sitesのスパース性を保つ”をベースな考えとした新たなconvolution operations:SSCを提案した．こういうような性質から，SSCを用いたらより深い層構造持ったネットワークの学習を可能にした
          li 具体的なssc：①プーリーングとstrided畳み込み操作と合併②入力のactive sitesだけに対して畳み込みし，active sitesを出力．Ground stateの入力を0と取り扱い畳み込みを廃棄のような設定がある
    .item2
      .text
        p
          img(src=`${figpath}SSCN-3D-SemanticSegmentation.png`,alt="SSCN-3D-SemanticSegmentation")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        ul
          li 提案のSSCがスパース性持ったデータの高効率CNNを可能にした．また，計算量とメモリー消耗の大幅削減及び深い層ネットワークの構築などに用いられる．
          li ShapeNetデータセットにおいて，SSCNを用いた3Dシーン及び物体パーツセマンティックセグメンテーションが従来手法(PointCNN,PointNet,Pd-Networkなど含め)より良い精度を達成した．更に，SSCNsの計算効率がより良い
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            p 論文がとても読みやすかった．しかし想像力が貧乏なので，うまくまとめられない．発表ビデオやコードで具体的なsparse convolutional operations操作を勉強したい
          li
            p ポイントクラウドのようなスパースデータに相性が良いので，SSCNsを用いて３次元処理を行う文章がこれから出てきそう
          li
            p
              a(href="http://openaccess.thecvf.com/content_cvpr_2018/CameraReady/3108.pdf") 論文
          li
            p
              a(href="https://github.com/facebookresearch/SparseConvNet") コード
    .slide_index #{getSlideIndex()}
    .timestamp 2018.6.7 19:19:22

