+slide
section#ID_4DFAB_A_Large_Scale_4D_Database_for_Facial_Expression_Analysis_and_Biometric_Applications
  .paper-abstract
    .title 4DFAB: A Large Scale 4D Database for Facial Expression Analysis and Biometric Applications
    .info
      .authors Shiyang Cheng, Irene Kotsia, Maja Pantic and Stefanos Zafeiriou1
      .conference CVPR2018
    .slide_editor Kazuho Kito

    .item1
      .text
        h1 概要
        p 180万枚以上の3Dのメッシュを含んだダイナミックで高解像度な3Dの顔のデータベースである4DFABを提案。このデータベースには、5年以上かけて異なる4つの期間で撮られた180のサブジェクトの記録を含んでいる。サブジェクトには、自然な表情とそうでない表情の両方の4Dビデオが含まれており、行動に関するバイオミメティクスだけでなく、顔と表情の認識に使うことができる。また、表情をパラメータ化させるためのパワフルなblendshapeを学習することに使うこともできる。
    .item2
      .text
        p
          img(src=`${figpath}4DFAB.PNG`,alt="4DFAB.PNG")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 自然な表情と笑顔，泣き笑い，混乱している表情などの自然でない表情が含まれている．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="https://arxiv.org/pdf/1712.01443.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.6.20 19:36:05


