+slide
section#A_Common_Framework_for_Interactive_Texture_Transfer
  .paper-abstract
    .title A Common Framework for Interactive Texture Transfer
    .info
      .authors Yifang Men, et al.
      .conference CVPR 2018
    .slide_editor Munetaka Minoguchi
  
    .item1
      .text
        h1 概要
        p 局所構造と視覚的豊かさの両方を保持できる、より汎用的なtexture transfer問題を解決するための提案。元画像と元画像のセマンティックマップ(aのようなセグメンテーション画像)と、変換後となるセマンティックマップの3つを入力とする。変換顔のセマンティックマップを元にスタイルトランスファーを実行する(ゴッホを痩せさせるなど)。contour key points match(CPD)やTPSアルゴリズムをベースとしたstructure propogation手法を提案している。
    .item2
      .text
        p
          img(src=`${figpath}20180619ITT.jpg`,alt="20180619ITT.jpg")
    .item3
      .text
        h1 新規性
        p タスクの多様性と、ユーザガイダンスの簡潔さをテーマに取り組んでいる。図のように、(a)簡単な絵をアートワークに変更、(b)装飾パターンの編集、(c)テキストに特殊効果を付与、(d)テキスト画像における効果を制御、(e)テクスチャの交換、などユーザのガイダンスによってさまざまなテクスチャの変換を実現できる。
    .item4
      .text
        h1 結果・リンク集
        p 他の手法と比較して、人間の視覚的にもより自然な変換ができている。
        ul
          li
            a(href="http://www.icst.pku.edu.cn/F/zLian/papers/CVPR18-Men.pdf") 論文
    .slide_index #{getSlideIndex()}
