+slide
section#ID_A_PID_Controller_Approach_for_Stochastic_Optimization_of_Deep_Networks
  .paper-abstract
    .title A PID Controller Approach for Stochastic Optimization of Deep Networks
    .info
      .authors An Wangpeng , Haoqian Wang, Qingyun Sun, Jun Xu, QIonghai Dai, Lei Zhang
      .conference CVPR 2018
    .slide_editor Yue Qiu

    .item1
      .text
        h1 概要
        ul
          li SGD,SGD Momentumの代わりにautomatic control分野に広く用いられているPID optimizer(proportional integral derivative)をDNN optimizationに用いるアプローチの提案．
          li DNNの最適化過程(gradientsによりウェイトを調整)とPID (エラーによりデバイスの状態を調整)が本質的に共通していることを示した．また， SGD,SGD MomentumとPIDの共通点と異なる点を示した：①SGDが現在のgradientだけによりウェイトを更新し，P controllerと類似する．②SGD Momentumが現在と過去のgradientによりウェイトを更新し，PI controllerと類似．③PID controllerが過去，現在及び変化情報によりデバイスを更新するので，従来のSGD momentumのovershooting問題を大幅に抑制できる．
    .item2
      .text
        p
          img(src=`${figpath}PID_Controller.png`,alt="PID_Controller")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        ul
          li SGD momentumがovershootingのため，正しく収束できない場合がある．PIDを用いたら， overshootingを大幅に抑制できる．
          li MINIST,CIFAR,Tiny ImageNetなどのデータセットで検証した結果，PID optimizerがSGD momentumより低いエラー率を達成しながら，最適化スピードが30%~50%速い．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            p ほかの分野で長年成功していた方法をうまくDNNに用いることがかっこいい！
          li
            p
              a(href="http://openaccess.thecvf.com/content_cvpr_2018/CameraReady/2918.pdf") 論文
          li
            p
              a(href="https://github.com/tensorboy/PIDOptimizer") コード
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.17 14:09:09
