+slide
section#ID_A_Revised_Underwater_Image_Formation_Model
  .paper-abstract
    .title A Revised Underwater Image Formation Model
    .info
      .authors Derya Akkaynak, Tali Treibitz
      .conference CVPR 2018
    .slide_editor Kazushige Okayasu

    .item1
      .text
        h1 概要
        p 現在の水中画像形成モデルでは無視されていたより多くの依存関係を実際に導入することにより，画像補正を行う．
    .item2
      .text
        p
          img(src=`${figpath}A_Revised_Underwater_Image_Formation_Model.png`,alt="A_Revised_Underwater_Image_Formation_Model")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 理論的分析と現実世界の実験を通して、一般的に使用される水中画像形成モデルがこれまで説明されていなかった誤差を生じることを実証した。
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Akkaynak_A_Revised_Underwater_CVPR_2018_paper.pdf") 論文
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/Supplemental/0068-supp.pdf") Supplementary material
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.31 12:16:43
