+slide
section#ID_A_Robust_Method_for_Strong_Rolling_Shutter_Effects_Correction_Using_Lines_with_Automatic_Feature_Selection
  .paper-abstract
    .title A Robust Method for Strong Rolling Shutter Effects Correction Using Lines with Automatic Feature Selection
    .info
      .authors Yizhen Lao and Omar Ait-Aider
      .conference CVPR2018
    .slide_editor Kazuho Kito

    .item1
      .text
        h1 概要
        p 一組のイメージカーブを用いて，3D直線に対応するという知識に基づき単一画像内のRS歪みを補正するロバストな方法を提案．一様な運動モデル下で移動するローリングシャッターカメラによって出現する3D直線の投影のためのパラメトリック方程式を定式化し，少なくとも4つのイメージカーブを用いて，姿勢パラメータとは別にカメラの角速度を効率的に推定する方法を提案．さらに，3D直線に対応するイメージカーブを選択し，3次元での実際のイメージカーブを選択するRANSACのような戦略を提案．
    .item2
      .text
        p
          img(src=`${figpath}A_Robust_Method_for_Strong_Rolling_Shutter_Effects_Correction_Using_Lines_with_Automatic_Feature_Selection_2.PNG`,alt="A_Robust_Method_for_Strong_Rolling_Shutter_Effects_Correction_Using_Lines_with_Automatic_Feature_Selection_2.PNG")
          img(src=`${figpath}A_Robust_Method_for_Strong_Rolling_Shutter_Effects_Correction_Using_Lines_with_Automatic_Feature_Selection.PNG`,alt="A_Robust_Method_for_Strong_Rolling_Shutter_Effects_Correction_Using_Lines_with_Automatic_Feature_Selection.PNG")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p ・　合成データと実データの両方を用いた比較実験によりstate-of-the-art．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/CameraReady/3871.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.30 20:54:33
