+slide
section#A_Weighted_Sparse_Sampling_and_Smoothing_Frame_Transition_Approach_for_Semantic_Fast-Forward_First-Person_Videos
  .paper-abstract
    .title A Weighted Sparse Sampling and Smoothing Frame Transition Approach for Semantic Fast-Forward First-Person Videos
    .info
      .authors M. Silva, W. Ramos, J. Ferreira, F. Chamone, M. Campos
      .conference CVPR2018
    .slide_editor Ryota Suzuki

    .item1
      .text
        p なめらかに
          strong 早送り
          |するという，ビデオ要約の新たな形を提案．
        p 新しい適応的なフレーム選択手法を提案．
          |重み付き最小値再構築問題として定式化．
          |そこに，スムーズなフレーム遷移の手法を組み合わせる．
          |通しで見るとなめらかに見えるようにフレームを落とす．
    .item2
      .text
        p
          img(src=`${figpath}A_Weighted_Sparse_Sampling_and_Smoothing_Frame_Transition_Approach_for_Semantic_Fast-Forward_First-Person_Videos.png`,alt="Figure1")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 問題設定が面白い．
          |流行りのビデオ要約の流れを汲みつつ，意識的に新しい枠組みを提案している．
          |しかも十分実行可能と思われる問題である．想定される成果の見栄えもよい．
          |解き方もちゃんとしている．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/CameraReady/3780.pdf") 論文
          li
            a(href="https://www.verlab.dcc.ufmg.br/semantic-hyperlapse/cvpr2018/") プロジェクトページ
          li
            a(href="https://github.com/verlab/SemanticFastForward_CVPR_2018") ソースコード
    .slide_index #{getSlideIndex()}
    .timestamp 2018.6.21 17:42:48
