+slide
section#ID_Aperture_Supervision_for_Monocular_Depth_Estimation
  .paper-abstract
    .title Aperture Supervision for Monocular Depth Estimation
    .info
      .authors Pratul P. Srinivasan, Rahul Garg, Neal Wadhwa, Ren Ng, Jonathan T. Barron
      .conference CVPR 2018
    .slide_editor: a(href="http://hirokatsukataoka.net/" target="blank") Hirokatsu Kataoka

    .item1
      .text
        h1 概要
        p Aperture Supervision（カメラのフォーカスによる教示）により単眼画像からデプスマップを推定する研究である。これを推定するために、Focus/Defocusを処理して、領域ごとの反応を確認することでデプスの教示に相当する。CNNベースの距離画像推定では、確率的距離マップ、Shallow Depth-of-field（各距離における重み付けされたマップ）を適用する。図は本論文における単眼カメラによる距離画像推定のパイプラインである。
    .item2
      .text
        p
          img(src=`${figpath}180604MonoDepth.png`,alt="180604MonoDepth")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p RGB-Depthを変換する、いわゆるダイレクトな距離画像推定では計算コストも高く、かつ解像度も低かったが、本論文ではフォーカスに関係する教示によりこの問題を解決し、単眼による距離画像推定を実現した。
    .item4
      .text
        h1 コメント・リンク集
        p 距離画像を直接的には使わなくても、LightFieldなどの情報から距離画像を推定することができるので、他の関連手法とは異なるアプローチを与えている。
        ul
          li
            a(href="https://arxiv.org/abs/1711.07933") 論文
          li
            a(href="https://github.com/google/aperture_supervision") GitHub
    .slide_index #{getSlideIndex()}
    .timestamp 2018.6.4 08:48:55

