+slide
section#ID_Appearance-and-Relation_Networks_for_Video_Classification
  .paper-abstract
    .title Appearance-and-Relation Networks for Video Classification
    .info
      .authors Limin Wang, Wei Li, Wen Li, Luc Van Gool
      .conference CVPR2018, arXive:1711.09125
      .paper_id 172
    .slide_editor Hiroshi Fukui

    .item1
      .text
        h1 概要
        p 動画認識における特徴空間の学習で，RGBからAppearanceとRelationを効率的に学習するAppearance-and-Relation Network(ARTNet)を提案．
          |ARTNetは，SMART Blockという複数のブロックから構築されており，このブロックはAppearanceとRelationをそれぞれ学習ブランチから構成されている．
          |Appearance branchは2D Conv.をベースに構築し，Relation branchは3D Conv.をベースに構築している．
          |3D Conv.と2D Conv.の組み合わせによりAppearanceとRelationを効率的に特徴を抽出できるため，より良い特徴を得ることができる．
          |最終的に，それぞれのブランチから出力された特徴を結合することで，最終的な特徴を抽出していく．
    .item2
      .text
        p
          img(src=`${figpath}172_overview.png`,alt="172_overview.png")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 2D Conv.と3D Conv.を効率的に使ったモデルの提案で，Kinetics，UCF101，HMDB51 Datasetで評価し，従来のC3Dより高精度な特徴抽出が可能であることを示している．
    .item4
      .text
        h1 コメント・リンク集
        p モデルとしては，two-stream CNNと3D CNNの良いところ取りしたような印象の手法．
          |汎化性も高く，様々な時系列対応のタスクに応用できそう．
        ul
          li
            a(href="https://arxiv.org/abs/1711.09125") 論文リンク
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.22 19:06:50
