+slide
  .title Are You Talking to Me? Reasoned Visual Dialog Generation through Adversarial Learning
  .info
    .authors Qi Wu, Peng Wang, Chunhua Shen, Ian Reid, Anton Van den Hengel
    .conference CVPR 2018
    .paper_id 741
  .slide_editor Yue Qiu

  .item1
    .text
      h1 概要
      p ・強化学習とGANを用いたVisual Dialog回答文を自動生成する手法の提案．
        |・従来のVisual Dialogシステムは画像とDialog履歴に基づきMLEにより回答文の予測を行う．こういった手法では回答文が短い，バリエーションが少ないなどの問題点がある．そこで， co-attentionを利用したジョイントで画像， Dialog履歴をreasonできる回答文生成器を提案した．提案モデルはsequential co-attention生成器と回答文が“human”からか“生成された”かを弁別できる弁別で構成される．
  .item2
    .text
      p
        img(src=`${figpath}Generate_visual_dialog.png`,alt="Generate_visual_dialog")
  .item3
    .text
      h1 新規性・結果
      p ・GANを用いた提案手法はVisual Dialogタスク従来の学習データの不足，簡潔な回答しか生成できないなどの問題点を改善した．
        |・attentionをGANと組み合わせ， 生成回答文のinterpretabilityを向上した
        |・ VisDial データセットにおいて,従来の手法より高い精度を達成した．
  .item4
    .text
      h1 リンク集
      p ・interactive環境でVisual Dialog回答文の生成ができたら更に様々な場面で応用できる
      ul
        li
          a(href="https://arxiv.org/pdf/1711.07613.pdf") 論文
  .slide_index #{getSlideIndex()}
  .timestamp 2018.5.2 13:13:20
