+slide
section#ID_Baseline_Desensitizing_In_Translation_Averaging
  .paper-abstract
    .title Baseline Desensitizing In Translation Averaging
    .info
      .authors B. Zhuang et al.,
      .conference CVPR 2018
    .slide_editor Kensho Hara
  
    .item1
      h1 概要
      .text.
        Global Structure-from-Motion (SfM)の手法で用いるTranslation Averagingにおいて，
        カメラのベースラインの長さにsensitiveでない手法 (BATA) を提案．
        正規化を行う変数を目的関数に導入し，シンプルかつ効率的な最適化を実現．
        加えて，外れ値への対応のためのIterative Reweighted Least Squares (IRLS) も提案．
  
    .item2
      img(src=figpath+"Baseline_Desensitizing_In_Translation_Averaging.png")
    .item3
      h1 新規性・結果・なぜ通ったか？
      .text
        ul
          li BATAの提案
          li IRLSの提案

    .item4
      h1 コメント・リンク集
      .text
        ul
          li: a(href="http://openaccess.thecvf.com/content_cvpr_2018/html/Zhuang_Baseline_Desensitizing_in_CVPR_2018_paper.html") 論文
          li 前提知識足りなくてあまりわかってないです...
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.25 10:30:45