+slide
section#ID_Burst_Denoising_with_Kernel_Prediction_Networks
  .paper-abstract
    .title Burst Denoising with Kernel Prediction Networks
    .info
      .authors B. Mildenhall, J.T. Barron, J. Chen, D. Sharlet, R. Ng, R. Carroll
      .conference CVPR2018
    .slide_editor Ryota Suzuki

    .item1
      .text
        h1 概要
        p 携帯含む最近のカメラは連写機能が付いているので，手ブレのあるようなハンドヘルドカメラの連写で撮ったノイズ入り画像をデノイズしようという話．
          strong 連続撮影における手ブレに頑健なデノイズCNN
          |を提案する．
        p 写実的ノイズ定式化に基づく，インターネットから拾ってきた加工済み画像からカメラで撮ったような写実的画像を生成する合成データ生成手法で学習データを作成．
          |学習中に空間的に変化するカーネルを使い，位置調整とデノイズを実現．
          |不慮の局所解落ち回避のための，焼きなましロス関数をガイドとした最適化．
    .item2
      .text
        p
          img(src=`${figpath}Burst_Denoising_with_Kernel_Prediction_Networks.png`,alt="Figure1")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 流行に乗った手法（合成データによる学習，適応的パラメータ調整）を使って実現．
          |問題設定も地に足がついている感じがする．
    .item4
      .text
        h1 コメント・リンク集
        p Google Researchのインターンでやった模様．
        ul
          li
            a(href="https://arxiv.org/abs/1712.02327") arXiv
          li
            a(href="http://people.eecs.berkeley.edu/~bmild/kpn/") プロジェクトページ
    .slide_index #{getSlideIndex()}
    .timestamp 2018.6.4 10:40:17

