+slide
section#ID_CNN_Driven_Sparse_Multi-Level_B-spline_Image_Registration
  .paper-abstract
    .title CNN Driven Sparse Multi-Level B-spline Image Registration
    .info
      .authors Pingge Jiang, James A. Shackleford
      .conference CVPR 2018
    .slide_editor Kazushige Okayasu

    .item1
      .text
        h1 概要
        p 異なる時間に撮影された2つの画像や異なるモダリティを共通の座標系にマッピングする空間変換を再現しようとするタスクにおいて、2つの画像間の変換を記述するための最も適切なパラメータ化を学習することに焦点を当てたmulti-grid B-spline法を提案
    .item2
      .text
        p
          img(src=`${figpath}CNN_Driven_Sparse_Multi-Level_B-spline_Image_Registration.png`,alt="CNN_Driven_Sparse_Multi-Level_B-spline_Image_Registration")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p B-splineのパラメータを大幅に削減
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Jiang_CNN_Driven_Sparse_CVPR_2018_paper.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.8.1 14:43:45
