+slide
section#ID_Continuous_Relaxation_of_MAP_Inference_A_Nonconvex_Perspective
  .paper-abstract
    .title Continuous Relaxation of MAP Inference: A Nonconvex Perspective
    .info
      .authors D. Khuê Lê-Huu, Nikos Paragios
      .conference CVPR 2018
    .slide_editor Kazushige Okayasu

    .item1
      .text
        h1 概要
        p MRFにおけるMAP推論の非凸連続緩和法においてADMMに基づく多重線形分解フレームワークを使用し、より効果的な解を求める手法を提案
    .item2
      .text
        p
          img(src=`${figpath}Continuous_Relaxation_of_MAP_Inference_A_Nonconvex_Perspective.png`,alt="Continuous_Relaxation_of_MAP_Inference_A_Nonconvex_Perspective")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 最先端のMRF最適化アルゴリズムと比較し、変数と制約の数が少ないため、メモリ効率が良い。また、高度に並列化可能なため，分散アプリケーションやリアルタイムアプリケーションにも適している。
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Le-Huu_Continuous_Relaxation_of_CVPR_2018_paper.pdf") 論文
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/Supplemental/2695-supp.pdf") Supplementary material
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.31 21:53:12
