+slide
section#ID_Content-Sensitive_Supervoxels_via_Uniform_Tessellations_on_Video_Manifolds
  .paper-abstract
    .title Content-Sensitive Supervoxels via Uniform Tessellations on Video Manifolds
    .info
      .authors Ran Yi, Yong-Jin Liu, Yu-Kun Lai
      .conference CVPR 2018
    .slide_editor Kazushige Okayasu

    .item1
      .text
        h1 概要
        p ・動画の領域分割手法のContent-Sensitive Supervoxels(CSS)の提案
          |・空間次元と同じ方法で動画を単に扱うだけではなくオプティカルフローを使用して、隣接フレーム間のボクセルの接続ブラフを構成し、規則的な3次元格子構造を、高次元の色と時系列空間にマッピングすることによって歪める。
          |・K-means++のストリーミングバージョンを適用することにより、一度にメモリにロードすることが出来ない長いビデオを処理可能。
    .item2
      .text
        p
          img(src=`${figpath}Content-Sensitive_Supervoxels_via_Uniform_Tessellations_on_Video_Manifolds.png`,alt="Content-Sensitive_Supervoxels_via_Uniform_Tessellations_on_Video_Manifolds")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p ・7つの代表的なスーパーボクセル手法を4つのビデオデータセットで比較し、既存のスーパーボクセル手法より優れている。
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Yi_Content-Sensitive_Supervoxels_via_CVPR_2018_paper.pdf") 論文
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/Supplemental/2102-supp.pdf") Supplementary material
    .slide_index #{getSlideIndex()}
    .timestamp 2018.8.2 01:49:36
