+slide
section#ID_Deep_Texture_Manifold_for_Ground_Terrain_Recognition
  .paper-abstract
    .title Deep Texture Manifold for Ground Terrain Recognition
    .info
      .authors J.Xue, H.Zhang, K.Dana
      .conference CVPR 2018
    .slide_editor Kazuma Asano

    .item1
      .text
        h1 概要
        p 地形認識はロボット分野や自動運転に対し重要な処理である．
          |しかしテクスチャを使った地形認識では，例えば"grass"と"leaves"は似ているために間違った認識がされることがある．
          |そこで地形認識のためのDeep Encoding Pooling Network (DEP)を提案した．
          |事前に学習したCNNを特徴抽出器として利用し，CNNからの出力をtexture encoding layerとglobal average pooling layerに送る．
          |texture encoding layerではテクスチャのdetailを持ちつつ，global average pooling layerが持っていたローカル空間情報を出力する．
          |30000枚以上の画像を40クラスに分類したGTOSデータセットで学習し，よりリアルな条件下で評価するために，テストデータには携帯のビデオで撮影した81個のビデオをasphaltやsandなどの31クラスに分類したGTOS-mobileデータセットを作成した.
          |ネットワークの評価はGTOS-mobileだけでなくMINCやDTDも使用し評価している．
    .item2
      .text
        p
          img(src=`${figpath}180082_DEP.PNG`,alt="Item3Image1")
          img(src=`${figpath}180082_DEP_result.PNG`,alt="Item3Image2")
    .item3
      .text
        h1 結果
        p ランダムに10000枚の画像を選び，ResNetや著者たちの従来手法であるDeep TENと提案手法で識別させ比較すると，提案手法がもっとも分類がうまくいっている．
        p 実際にテストデータにGTOS-mobileを使用した結果も，ResNetやDeepTENより2~5%ほど精度が向上している．
    .item4
      .text
        h1 リンク集
        ul
          li
            a(href="https://arxiv.org/abs/1803.10896") arxiv
          li
            a(href="https://www.youtube.com/watch?v=mEkEv7DEFVc&feature=youtu.be") demo1(youtube)
          li
            a(href="https://www.youtube.com/watch?v=_9J3q6acwT8&feature=youtu.be") demo2(youtube)
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.23 14:14:24
