+slide
section#ID_Deep_End-to-End_Time-of-Flight_Imaging
  .paper-abstract
    .title Deep End-to-End Time-of-Flight Imaging
    .info
      .authors Shuochen Su, Felix Heide, Gordon Wetzstein, Wolfgang Heidrich
      .conference CVPR 2018
    .slide_editor: a(href="http://hirokatsukataoka.net/" target="blank") Hirokatsu Kataoka

    .item1
      .text
        h1 概要
        p End-to-EndでセンサデータからToFセンサの出力を行うToFNet (Time-of-Flight Network)を提案する。従来のシステムであh、センサーデータの入力からデノイジング、Phase Unwrapping (PU)やMultipath Correction (MP)を行っていたが、ToFNetでは一括処理が可能となるだけでなく、ノイズがない鮮明な画像を出力可能、リアルタイムで動作可能である。ToFNetはPatchGANという枠組みにより最適化が行われる。PatchGANはEncoder-Decoderの構造をした生成器と非常にシンプルな構造の識別器により構成される。誤差はL1+DepthGradient+Adversarialと、その重み付き和により計算される。
    .item2
      .text
        p
          img(src=`${figpath}180604E2EToF.png`,alt="180604E2EToF")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 従来のカスケード型処理（デノイジング、PU、MP）ではノイズが蓄積してしまいがちだが、提案のToFNetは一括での処理を行い、(1)ノイズを鮮明に除去できるのみならず(2)リアルタイムでの処理が可能である。主にこの２点が採択された理由であると考える。
    .item4
      .text
        h1 コメント・リンク集
        p Depth推定、すでに数値や見た目による判断が曖昧になりつつある？屋内だけでなく、多様なドメインでの適応が待たれる。
        ul
          li
            a(href="http://vccimaging.org/Publications/Su2018EndToEndTOF/Su2018EndToEndTOF.pdf") 論文
          li
            a(href="http://vccimaging.org/Publications/Su2018EndToEndTOF/") Project
    .slide_index #{getSlideIndex()}
    .timestamp 2018.6.4 08:26:21


