+slide
section#ID_Deep_Sparse_Coding_for_Invariant_Multimodal_Halle_Berry_Neurons
  .paper-abstract
    .title Deep Sparse Coding for Invariant Multimodal Halle Berry Neurons
    .info
      .authors Edward Kim, Darryl Hannan, Garrett Kenyon,
      .conference CVPR 2018
    .slide_editor Munetaka Minoguchi
  
    .item1
      h1 概要
      .text.
        標準的なフィードフォワード深層学習モデルを、希薄性、トップダウンフィードバック、横方向抑制など、生物学的にインスパイアされた概念を用いて改善する取り組み。構築したモデルを解析した結果、人間の脳に見られる「ハルベリーニューロン」を模倣したニューロンが出現したことを証明。

    .item2
      img(src=figpath+"180731ESCfIMHBN.jpg")

    .item3
      h1 新規性・結果・なぜ通ったか？
      .text
        p CNNは様々なCVタスクに貢献しており、分類問題では人間を超越しているという結果もある。一般的なアプリケーションでは、やはり人間には及ばない。希薄性、トップダウンフィードバック、横方向抑制など、人間(哺乳類)に見られる脳のしくみに着目し、深層学習においてそれを再現するようにモデリングしている。

    .item4
      h1 コメント・リンク集
      .text
        p CVや機械学習タスク全般における、定性的および定量的な改善を証明。
        ul
          li: a(href="https://arxiv.org/pdf/1711.07998.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.31 23:27:15


