+slide
section#ID_Deep_Cocktail_Network_Multi-source_Unsupervised_Domain_Adaptation_with_Category_Shift
  .paper-abstract
    .title Deep Cocktail Network: Multi-source Unsupervised Domain Adaptation with Category Shift
    .info
      .authors Ruijia Xu, Ziliang Chen, Wangmeng Zuo, Junjie Yan, Liang Lin
      .conference CVPR 2018 Poster
    .slide_editor Kazuki Inoue
  
    .item1
      .text
        h1 概要
        p ソースドメインのラベル付きデータセットが複数ある場合のunsupervised domain adaptation(UDA)である
          |multiple domain adaptation(MDA)によってターゲットドメインのクラシフィケーションを行う
          |Deep Cocktail Network(DCTN)を提案。MDAではUDAで問題視されるドメインシフトに加えて、
          |ソースドメインのデータセット間で全てのカテゴリが共有されていないカテゴリシフトが存在する。
          |DCTNでは、k番目のソースドメインのデータセットとターゲットドメインのデータセットを入力として
          |discriminatorによってperplexity scoreを算出することでどのソースドメインのデータセットの分布に近いかを算出し、
          |これを全てのソースドメインのデータセットに対して行い、perplexity scoreを重み付けるすることで最終的な識別結果を出力する。
    .item2
      .text
        p
          img(src=`${figpath}Deep_Cocktail_Networks_Multi-source_Unsupervised_Domain_Adaptation_with_Category_Shift.png`)
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        ul
          li discriminatorによってターゲットドメインがソースドメインのデータセットのうちどのデータの分布に近いかを計算することで、
             |MDAに取り組むDCTNを提案。
          li 3つのベンチマークにおいてUDAのstate-of-the-artと比較し他結果、提案手法が最も高い精度を達成。
          li カテゴリシフトを解決できているかどうかを確認するために、
             |ターゲットドメイン内でカテゴリの重複あり/なしにおける識別結果を比較したところ、
             |state-of-the-artと同等以上の精度を達成。
    .item4
      .text
        h1 コメント・リンク集
        ul
          li discriminatorが算出したperplexity scoreによって重み付けをするというシンプルな手法だが、
             |UDAに取り組むstate-of-the-artよりも高い精度を達成している。
          li
            a(href="https://arxiv.org/abs/1803.00830") 論文
    .slide_index #{getSlideIndex()}


