slide
section#ID_Densely_Connected_Pyramid_Dehazing_Network.pug
  .paper-abstract
    .title Densely_Connected_Pyramid_Dehazing_Network.pug
    .info
      .authors He Zhang, Vishal M. Patel
      .conference CVPR 2018
    .slide_editor Daichi Horita
      .item1
        .text
          h1 概要
          p 空気汚染などで霞んだ大気などが写っていると認識などのタスクではノイズとなりうるケースがあり、除去する必要がある。
            |そこで以下の手法を用いてSoTA達成し、End2Endで学習を行える除去方法を提案した。
            |画像を数式化し、それを解く手法をDensly Connected Pyramid Dehazing Networks(DCPDN)とした。しかし、直接推定するのは難しいので段階的に学習した。
            |霞んだ画像のEdgeなどの構造(TransmissionMapEstimation)と、霞など(AtmosphericLightEstimation)に分離して特徴量を獲得し、それら2つからDehazeImageを作成。
            |その後、DehazeImagerとEstimation、2つのペアの構造が似ているかをJoint-Discriminatorで識別し学習する。
            |また、Edgeは画像に分け目でありImageGraduentsに特徴付けらること、輪郭やEdgeのようなlow-levelな特徴量はCNNの最初の方の層で抽出されることの2つの背景から
            |Edgeの特徴量を豊富に学習できる、ImageGradientを取る関数、VGGでcontent featureを取る関数の和であるEdge-preserving Lossを提案を提案した。
    .item2
      .text
        p
          img(src=`${figpath}Densely_Connected_Pyramid_Dehazing_network.png`,alt="Item3Image")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p SSIMでの比較結果が最も高く、結果を見ても綺麗であった。
          |Edge-preserving LossとJoint-Discriminatorがうまく寄与していた。

    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Zhang_Densely_Connected_Pyramid_CVPR_2018_paper.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.29 13:30:55





        h1 概要
        p PointNetでは考慮出来ていない, PointCloud の局所的な構造を抽出するために, 新しい２つの演算 (kernel correlation と graph-based pooling) を提案. classification と segmentation のタスクで行った評価実験では PointNet++ と同等以上の結果をより少ないパラメータ数で達成した.
    .item2
      .text
        p
          img(src=`${figpath}fukuhara-Mining_Point_Cloud_Local_Structures_by_Kernel_Correlation_and_Graph Pooling.png`,alt="fukuhara-Mining_Point_Cloud_Local_Structures_by_Kernel_Correlation_and_Graph Pooling.png")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        ul
          li PointNetでは考慮出来ていない, PointCloud の局所的な構造を抽出するための新しい２つの演算を提案
          li 1つ目として, 局所的な幾何構造の Affinity を測るための kernel correlation を提案
          li 誤差逆伝播時に kernel point の位置を調整出来るようにすることで, 最も効果的なテンプレートの形状を学習
          li 2つ目として, 局所的な高次元特徴をみるために, graph-based pooling を提案
          li classification と segmentation のタスクで評価実験
          li classification では MVCNN のような画像と volume の両方を入力とする手法と同等の高い精度を達成 (ModelNetを評価に使用)
          li segmentation では PointNet(追加情報として法線も入力)と同等の結果を達成（ShapeNetを評価に使用）
     .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="https://arxiv.org/pdf/1712.06760.pdf" target="blank") [論文] Mining Point Cloud Local Structures by Kernel Correlation and Graph Pooling
          li
            a(href="http://www.merl.com/research/ license#KCNet" target="blank") [Code] MITSUBISHI ELECTRIC RESEARCH LABORATORIES
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.28 15:59:55 
