slide
+slide
section#ID_Densely_Connected_Pyramid_Dehazing_Network
  .paper-abstract
    .title Densely Connected Pyramid Dehazing Network
    .info
      .authors He Zhang, Vishal M. Patel
      .conference CVPR 2018
    .slide_editor Daichi Horita

    .item1
      .text
        h1 概要
        p 霞んだ大気が写っていると認識タスクなどではノイズとなりうるケースがあり、除去する必要がある。
          |そこで以下の手法を用いてSoTA達成し、End2Endで学習を行える除去方法を提案した。
          |画像を数式化し、それを解く手法をDensly Connected Pyramid Dehazing Networks(DCPDN)とした
          |霞んだ画像のEdgeなどの構造(TransmissionMapEstimation)と、霞など(AtmosphericLightEstimation)に分離して特徴量を獲得し、それら2つからDehazeImageを作成。
          |その後、DehazeImagerとEstimation、2つのペアの構造が似ているかをJoint-Discriminatorで識別し学習する。
          |また、Edgeは画像に分け目でありImageGraduentsに特徴付けらること、輪郭やEdgeのようなlow-levelな特徴量はCNNの最初の方の層で抽出されることの2つの背景から
          |Edgeの特徴量を豊富に学習できる、ImageGradientを取る関数、VGGでcontent featureを取る関数の和であるEdge-preserving Lossを提案を提案した。
    .item2
      .text
        p
          img(src=`${figpath}Densely_Connected_Pyramid_Dehazing_network.png`,alt="Item3Image")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p SSIMでの比較結果が最も高く、結果を見ても綺麗であった。
          |Edge-preserving LossとJoint-Discriminatorがうまく寄与していた。

    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Zhang_Densely_Connected_Pyramid_CVPR_2018_paper.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.29 13:30:55