+slide
section#ID_Depth_and_Transient_Imaging_With_Compressive_SPAD_Array_Cameras
  .paper-abstract
    .title Depth and Transient Imaging With Compressive SPAD Array Cameras
    .info
      .authors Qilin Sun, Xiong Dun, Yifan Peng, Wolfgang Heidrich
      .conference CVPR 2018
    .slide_editor: a(href="http://hirokatsukataoka.net/" target="blank") Hirokatsu Kataoka

    .item1
      .text
        h1 概要
        p イメージング技術において、Time-of-flight（ToF）やTransient Imagingに関する研究である。これらの技術は研究の関心に反して解像度が上がらず、低コスト化も進んでいない。本論文ではセンサの設計を変更し、Arrays of Single Photon Avalanche Diodes (SPADs)を改善することでこの問題に取り組む。DMDを用い、光学系をカスタマイズすることでSPADの解像度を800x400まで向上。時系列ヒストグラムを調整するモデルでは効果的にノイズ除去できることも示した。
    .item2
      .text
        p
          img(src=`${figpath}180703DepthTransient.png`,alt="180703DepthTransient")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 右図は提案のイメージング技術であり、SPADsの高解像度化を実現した。
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/html/Sun_Depth_and_Transient_CVPR_2018_paper.html") 論文
          li
            a(href="https://vccimaging.org/Publications/Sun2018CompressiveSPADArray/") Project
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.3 01:19:46


