+slide
section#ID_Dimensionalitys_Blessing_Clustering_Images_by_Underlying_Distribution
  .paper-abstract
    .title Dimensionality's Blessing: Clustering Images by Underlying Distribution
    .info
      .authors Wen-Yan Lin, Siying Liu, Jian-Huang Lai, Yasuyuki Matsushita
      .conference CVPR 2018
    .slide_editor Takahiro Itazuri

    .item1
      .text
        h1 概要
        p 画像分野では画像理解のために、画像を高次元の特徴ベクトルにして処理を行うことで大きな成功を収めてきた。しかしながら画像のクラスタリングは現在も非常に難しいタスクである。その理由として挙げられることは、クラス内分散がクラス間分散より大きいため、大部分が重複した分布を持っている点である。本論文では、高次元特徴量の場合、ほぼすべてのサンプルがある位置を中心に特定の半径の領域（hyper-shell）に分布することに着目し、新たなクラスタリング手法であるDistribution-Cluteringを提案した。これにより、従来のクラスタリング手法より良いクラスタリングが可能になった。
    .item2
      .text
        p
          img(src=`${figpath}Dimensionality_Blessing.png`,alt="image")
    .item3
      .text
        h1 手法・新規性
        p 高次元の球の体積がほとんど外側に集中していることはよく知られている事実であるが、それを掘り起こしてきて、クラスタリングに生かし、CVPRに通すところがすごい。具体的な手法の部分は正直なところ理解できなかったが、数学的にも妥当なクラスタリングができているようである。
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Lin_Dimensionalitys_Blessing_Clustering_CVPR_2018_paper.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.11 14:39:18
