+slide
section#ID_Direct_Shape_Regression_Networks_for_End-to-End_Face_Alignment
  .paper-abstract
    .title Direct Shape Regression Networks for End-to-End Face Alignment
    .info
      .authors X. Miao, X. Zhen, V. Athitsos, X. Liu, C. Deng and H. Huang
      .conference CVPR2018
    .slide_editor Ryota Suzuki

    .item1
      .text
        h1 概要
        p 顔のアライメントにおいて，Direct shape regression networkを提案．いくつかの新しい構造を組み合わせている．
          |(1)二重Conv，
          |(2)フーリエ特徴プーリング，
          |(3)線形低ランク学習．
          |顔画像-顔形状間の高い非線形関係性（初期化への強い依存性，ランドマーク相関導出の失敗）の問題を解決する．
    .item2
      .text
        p
          img(src=`${figpath}Direct_Shape_Regression_Networks_for_End-to-End_Face_Alignment_Figure1.png`,alt="Figure1")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        ul
          li 複数の新しい構造の定義
          li いくつかのケースでSoTAを超える性能．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="https://xinxinmiao.github.io/pdfs/1607.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.5.18 11:57:02


