+slide
section#ID_Discrete-Continuous_ADMM_for_Transductive_Inference_in_Higher-Order_MRFs
  .paper-abstract
    .title Discrete-Continuous ADMM for Transductive Inference in Higher-Order MRFs
    .info
      .authors Emanuel Laude, Jan-Hendrik Lange, Jonas Schupfer, Csaba Domokos, Laura Leal-Taixe, Frank R. Schmidt, Bjoern Andres and Daniel Cremers
      .conference CVPR2018
    .slide_editor Kazuho Kito

    .item1
      .text
        h1 概要
        p 高次のMRFsによるトランスダクティブ推論のための新しいアルゴリズムの提案．MRFsでは単項式のエネルギーは可変分類器によってパラメータ化され，連続的な分類子のパラメータと離散的な変数の共同最適化問題として提起される．問題解決のために，凸緩和などの従来手法と対照的にADMMでの効率的な最適化手法として関連目的関数を離散的かつ連続的な問題に切り離すことを提案．離散変数の完全性を保ち，臨界点への大域収束性を保証している.
    .item2
      .text
        p
          img(src=`${figpath}Discrete-Continuous_ADMM_for_Transductive_Inference_in_Higher-Order_MRFs.PNG`,alt="Discrete-Continuous_ADMM_for_Transductive_Inference_in_Higher-Order_MRFs.PNG")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p ・　MAPの推論問題の準最適解を得ることができ，計算上より困難なMRFを考慮することが可能．
          |・　k-meansと対照的に深い特徴と統合される
          |・　従来手法より一貫した結果となり，ランタイム，メモリ消費について効率的．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/CameraReady/3264.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.30 20:52:40
