+slide
section#ID_Diversity_Regularized_Spatiotemporal_Attention_for_Video-based_Person_Re-identification
  .paper-abstract
    .title Diversity Regularized Spatiotemporal Attention for Video-based Person Re-identification
    .info
      .authors Shuang Li, Slawomir Bak, Peter Carr, Xiaogang Wang
      .conference CVPR2018, arXive:1803.09882
      .paper_id 63
    .slide_editor Hiroshi Fukui

    .item1
      .text
        h1 概要
        p 時系列を考慮したAttention機構を導入したRe-identificationを提案．
          |手法としては，各時刻の人物画像をMultiple Spatial Attention Modelsに入力して人物画像からAttentionを得る．
          |Multiple Spatial Attention Modelsでは，ResNetにより特徴マップを抽出してグリッド状に分割し，分割した獲得した各グリッドの特徴からAttentionを施して新たな特徴(Spatiotemporal Gated Feature)を抽出する．
          |このAttentionにより，各時系列で異なる領域にAttentionが強く反応するAttentionを得ることができる．
          |また，オクルージョンに対しても頑健になる．
          |PRID2011，iLIDS-VID，MARS Datasetで評価し，高い性能を達成している．
    .item2
      .text
        p
          img(src=`${figpath}63_overview.png`,alt="63_overview.png")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p これまでのAttention機構とは異なり，Attentionが強く反応する領域をばらけさせるためにMultiple Spatial Attention Modelsを導入．
          |かつ，誤差関数にHellinger距離を追加して正則化している．
          |これらの工夫点から3つのRe-identificationのデータセットで高い性能を示している点が評価されたと思われる．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="https://arxiv.org/abs/1803.09882") 論文リンク
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.22 19:02:09
