+slide
section#ID_Divide_and_Conquer_for_Full-Resolution_Light_Field_Deblurring
  .paper-abstract
    .title Divide and Conquer for Full-Resolution Light Field Deblurring
    .info
      .authors M. R. Mahesh Mohan, A. N. Rajagopalan
      .conference CVPR 2018
    .slide_editor Kazushige Okayasu

    .item1
      .text
        h1 概要
        p ・ Light Field Blind Motion Deblurring (LF-BMD)を低次元の部分問題に分解できるMDFベースのブレ軽減手法の提案
    .item2
      .text
        p
          img(src=`${figpath}Divide_and_Conquer_for_Full-Resolution_Light_Field_Deblurring.png`,alt="Divide_and_Conquer_for_Full-Resolution_Light_Field_Deblurring")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p ・最先端の手法と異なり、現実的にレンズの屈折効果を捕らえ、広角のアングルや不規則な撮影者の動き対しても適用可能
          |・並列処理可能なアルゴリズムのためGPUなどの並列処理可能
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Mohan_Divide_and_Conquer_CVPR_2018_paper.pdf") 論文
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/Supplemental/2165-supp.pdf") Supplementary material
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.31 13:57:59
