+slide
section#ID_DOTA_A_Large-scale_Dataset_for_Object_Detection_in_Aerial_Images
  .paper-abstract
    .title DOTA: A Large-scale Dataset for Object Detection in Aerial Images
    .info
      .authors Gui-Song Xia, Xiang Bai, Jian Ding, Zhen Zhu, Serge Belongie, Jiebo Luo, Mihai Datcu, Marcello Pelillo, Liangpei Zhang
      .conference CVPR2018
    .slide_editor Tetsuya Narita

    .item1
      .text
        h1 概要
        p 俯瞰画像から物体検出するためのデータセットを提案．従来のデータセットのものよりも小さい物体が多いデータセットである．各画像は4000×4000ピクセルであり，さまざまな大きさ，向き，形状を示す物体を含む．データセットは15カテゴリに分類されており，188282のインスタンスを含み，それぞれは任意の四角形でラベリングされている．人工衛星での物体検出の基礎構築のために，DOTA上の最先端の物体検出アルゴリズムを評価した．
    .item2
      .text
        p
          img(src=`${figpath}DOTA.png`,alt="DOTA.png")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 俯瞰画像データセット内のインスタンスは小さいものの割合が高く，細かいものも検出可能
          |人工衛星による物体検出に応用が利く可能性を示唆．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="https://arxiv.org/abs/1711.10398") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.5.21 18:34:11

