+slide
section#ID_DS_Tighter_Lifting-Free_Convex_Relaxations_for_Quadratic_Matching_Problems
  .paper-abstract
    .title DS*: Tighter Lifting-Free Convex Relaxations for Quadratic Matching Problems
    .info
      .authors F. Bernard et al.,
      .conference CVPR 2018
    .slide_editor Kensho Hara
  
    .item1
      h1 概要
      .text.
        画像間で対応関係を探すなどのマッチング問題の最適化を解くための新たな手法を提案．
        二次計画問題として定式化された問題を効率的に解くための凸緩和手法．
        提案手法はScalableでデータ数が増えても計算時間があまり増えないことに加えて，
        Tightな解を求めることが可能．

  
    .item2
      img(src=figpath+"DS_Tighter_Lifting-Free_Convex_Relaxations_for_Quadratic_Matching_Problems.png")
    .item3
      h1 新規性・結果・なぜ通ったか？
      .text
        ul
          li ScalableかつTightな解を求められるアルゴリズムを提案
    .item4
      h1 コメント・リンク集
      .text
        ul
          li: a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Bernard_DS_Tighter_Lifting-Free_CVPR_2018_paper.pdf") 論文
          li 中身全然理解できてないです...
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.6 12:29:32