+slide
section#ID_DVQA_Understanding_Data_Visualizations_via_Question_Answering
  .paper-abstract
    .title DVQA: Understanding Data Visualizations via Question Answering
    .info
      .authors Kushal Kafle, Brian Price, Scott Cohen, Christopher Kanan
      .conference CVPR 2018
      .paper_id 694
    .slide_editor Yue Qiu

    .item1
      .text
        h1 概要
        ul
          li 新規なバーグラフに対して質問回答タスクDVQA及びデータセットの提案．
          li バーグラフが情報の一つとしてより豊かな統計的な情報を表現できる．提案手法がバーグラフを対象としたDVQAを提案し，バーグラフの自動的情報抽出と理解を可能にした．
          li 大規模なバーグラフQAデータセットDVQAを提案した．DVQAが3Mのグラフ‐質問ペアから構成され，バーグラフに対し３種類の質問(構造理解，データ検索，reasoning)を設定した．また，全部の質問がopen-endedである．
          li DVQAタスクにおいて，2種類のネットワーク構造を提案した．①MOM:グラフの局所領域を抽出し文章を生成ことにより回答できる問題を対応するネットワークboundingbox OCR及びグラフの局所領域を抽出せずに回答する一般的な問題を対応するClassifierの二つのサブネットから構成される．どのネットにより回答するかを2クラス分類問題として取り扱っている②SANDY:従来手法SANにダイナミックエンコーディングモデルを用いて，質問文中のchart-specific単語をエンコーディングし，それをベースに直接chart-specificな回答文を生成できる．
    .item2
      .text
        p
          img(src=`${figpath}DVQA.png`,alt="DVQA")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        ul
          li 実用性が高い新規なバーグラフに対し質問回答タスクを提案．
          li 提案データセットDVQAに対し5種類の従来のVQA手法と提案のMOM,SANDYの比較実験を行った．一般的問題・chart-specific問題の両方に対し提案のSANDYモデルが最も良い精度を達成した．
          li 提案のデータセットDVQAがバーグラフの理解と質問文・回答文によりバーグラフ自動生成に用いられる．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li VQAタスクのVを画像からバーグラフに変更し実用性が高い提案である．
          li 類似した考えで従来の”V”か“Q”か“A”を同じ処理で別の似た概念に変更する研究をするも面白そう
          li
            a(href="https://arxiv.org/abs/1801.08163") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.5.25 17:28:12


