+slide
section#ID_Dynamic_Video_Segmentation_Network
  .paper-abstract
    .title Dynamic Video Segmentation Network
    .info
      .authors Yu-Syuan Xu, Tsu-Jui Fu, Hsuan-Kung Yang, Chun-Yi Lee
      .conference CVPR 2018
    .slide_editor: a(href="http://hirokatsukataoka.net/" target="blank") Hirokatsu Kataoka

    .item1
      .text
        h1 概要
        p 動画像セグメンテーションの問題に対してネットワーク選択（Decision Network）を行い適応的にCNNモデルを処理するDynamic Video Segmentation Network (DVSNet)を提案する。同手法では性質の異なるふたつのネットワーク（深くて精度が高いが低速/浅くて精度は低いが高速）を組み合わせて交通シーンにおけるシーン解析にて高速な処理を実現する。
    .item2
      .text
        p
          img(src=`${figpath}180605DynamicVideoSegmentationNetwork.png`,alt="180605DynamicVideoSegmentationNetwork")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p DVSNetは低速なもので70.1%/20fps、高速なものだと65.2%/34.4fps（いずれもCityScapes datasetにて処理した結果）を達成する。両者を、トレードオフを考慮してあらゆる場面に適応することができるという意味で新規性がある。
    .item4
      .text
        h1 コメント・リンク集
        p こういう通し方があったのか、と勉強になる。実利用を想定し、トレードオフを考慮、それを解決することも重要な問題である。
        ul
          li
            a(href="https://arxiv.org/abs/1804.00931") 論文
          li
            a(href="https://challengerocket.com/files/photo_projects/he/hell/hellochick/-sadasd_4f5749/31bc7a20.pdf") 論文（査読ver.）
    .slide_index #{getSlideIndex()}
    .timestamp 2018.6.5 21:14:03

