+slide
section#ID_Easy_Identification_from_Better_Constraints_Multi-Shot_Person_Re-Identification_from_Reference_Constraints
  .paper-abstract
    .title Easy Identification from Better Constraints: Multi-Shot Person Re-Identification from Reference Constraints
    .info
      .authors Jiahuan Zhou, Bing Su and Ying Wu1s
      .conference CVPR2018
    .slide_editor Yuta Matsuzaki

    .item1
      .text
        h1 概要
        p Multi-shot Person Re-IDentification (MsP-RID)に向けた類似的制約によるモデル学習方法の提案．視覚的指標を学習し，視覚的外観の大きな変化を扱うことで信頼できるモデルを構築．網羅的な実験・ベンチマークテストを行い，識別精度と速度ともに最先端のMsP-RIDの方法に比べ大幅な優位性を確認．
    .item2
      .text
        p
          img(src=`${figpath}20180723_Easy_Identification_from_Better_Constraints1.png`,alt="Image1")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p
          img(src=`${figpath}20180723_Easy_Identification_from_Better_Constraints2.png`,alt="Image2")
        ul
          li 視覚的指標を学習し，視覚的外観の大きな変化を扱い，モデルを構築．
          li 新規の類似的制約(典型的な回帰メトリック学習モデルを利用)により，既存メトリックベースの手法における最適化時の制約によるパフォーマンス低下の問題や学習データの不均衡性に対応．
          li 網羅的な実験・ベンチマークテストを実施．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/CameraReady/0517.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.23 19:08:59
