+slide
section#ID_End-to-End_Deep_Kronecker-Product_Matching_for_Person_Re-identification
  .paper-abstract
    .title End-to-End Deep Kronecker-Product Matching for Person Re-identification
    .info
      .authors Y.Shen T. Xiao H. Li, S. Yi and X. Wang
      .conference CVPR2018
    .slide_editor Kota Yoshida

    .item1
      .text
        h1 概要
        p 人物再同定のタスクは人物画像間の類似性を測定する．画像中の人物の姿勢や視野角の違いによってこのタスクはチャレンジングになる．本手法ではend-to-endで学習可能なDNNを用いた異なる人物の特徴マップを一致させるKronecker Product Matching(KPM)モジュールを提案する．
          |データセットとしてMarket-1501, CUHK03, DukeMTMCを用いて実験したところSoTAを示し，本手法の有効性と一般性を示すことができた．
    .item2
      .text
        p
          img(src=`${figpath}End-to-End_Deep_Kronecker-Product_Matching_for_Person_Re-identification.png`,alt="Image")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        ul
          li 入力する2つの画像が同じ人物に属するかどうかを判定するために、それらの間の類似度スコアをKPMによって算出．
          li ネットワークの構造としてはKPM，soft feature wrapping, self residual-attentionを用いた単一スケールのsiamese-CNN．
          li 図のようなsiamese-CNNを用いて類似点を出力
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/CameraReady/0847.pdf") Paper
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.20 16:51:49
