+slide
section#Fight_Ill-Posedness_With_Ill-Posedness_Single-Shot_Variational_Depth_Super-Resolution_From_Shading
  .paper-abstract
    .title Fight Ill-Posedness With Ill-Posedness: Single-Shot Variational Depth Super-Resolution From Shading
    .info
      .authors Bjoern Haefner, Yvain Quéau, Thomas Möllenhoff, Daniel Cremers
      .conference CVPR 2018
    .slide_editor: a(href="http://hirokatsukataoka.net/" target="blank") Hirokatsu Kataoka

    .item1
      .text
        h1 概要
        p 距離空間/距離画像の超解像を行う（Super-Resolution）を行う技術を提案。従来はShape-from-shadingにより行って来たが、形状の複雑性（誤りを含む）が存在していたため、これを改善する手法を提案した。
    .item2
      .text
        p
          img(src=`${figpath}180609FightIllPosed.png`,alt="180609FightIllPosed")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 距離画像における超解像を行うための最適化手法を提案した。結果は図に示すとおりである。
    .item4
      .text
        h1 リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Haefner_Fight_Ill-Posedness_With_CVPR_2018_paper.pdf") 論文
          li
            a(href="https://github.com/YapengTian/Single-Image-Super-Resolution") Single-Image-Super-Resolution
    .slide_index #{getSlideIndex()}
    .timestamp 2018.6.9 13:58:31
