+slide
section#ID_Fine-grained_Video_Captioning_for_Sports_Narrative
  .paper-abstract
    .title Fine-grained Video Captioning for Sports Narrative
    .info
      .authors Huanyu Yu, Shuo Cheng, Bingbing Ni, Minsi Wang, Jian Zhang, Xiaokang Yang
      .conference CVPR 2018
    .slide_editor: Kazushige okayasu
    .item1
      .text
        h1 概要
        p Fine-grainedなスポーツ動画キャプショニング
    .item2
      .text
        p
          img(src=`${figpath}Fine-grained_Video_Captioning_for_Sports_Narrative.png`,alt="Fine-grained_Video_Captioning_for_Sports_Narrative")

    .item3
      .text
        h1 新規性・結果
        ul
          li youtubeから2Kのスポーツ動画とキャプションからなるFine-grained Sports Narrative dataset(FSN)の提案
          li スポーツビデオのキャプショニングの新しい評価指標Fine-grained Captioning Evaluation(FCE)の提案
          li スポーツビデオのキャプショニングの新しいフレームワークの提案(骨格情報とオプティカルフローで詳細な動作のエンコード，オプティカルフローと選手のローカライズ結果で人物間のインタラクションをエンコードそれらのエンコードされたベクトルを階層的RNNで言語化)
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/CameraReady/0668.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.3.24 13:04:44


