+slide
section#ID_From_Lifestyle_Vlogs_to_Everyday_Interactions
  .paper-abstract
      .title From Lifestyle Vlogs to Everyday Interactions
      .info
        .authors Fouhey et al.
        .conference CVPR 2018.
        .paper_id arXiv ID: 1712.02310
      .item1
        h1 概要
        .text.
          従来のデータ取集手法（collection-by-acting）では難しいかった, バイアスの少ない, 多様で大規模な日常生活におけるインタラクションのデータベース Lifestyle VLOG dataset を公開した. 
      .item2
        img(src=figpath+"fukuhara-From-Lifestyle-Vlogs-to-Everyday-Interactions.png")
      .item3
        .text
          h1 新規性・結果
          ul
            li 従来のデータセットが想定している陽的なデータ収集とは対照的に隠的なデータ収集方法を行うことで, バイアスを小さくすることに成功した.
            li ビデオに対してインタラクションのラベル, フレームに対してインタラクション時の手の状態のラベル付けられている.
            li 従来のデータセットのBiasを分析するために, 従来のデータセットで訓練した手法が Lifestyle VLOG データセットに対しても上手く動作するか検証した.
      .item4
        .text
          h1 リンク集
          ul
            li: a(href="https://arxiv.org/pdf/1712.02310.pdf" target="blank") [論文] From Lifestyle Vlogs to Everyday Interactions
            li: a(href="https://people.eecs.berkeley.edu/~dfouhey/2017/VLOG/index.html" target="blank") Project Page
            li: a(href="https://github.com/dfouhey/VLOGToolkit" target="blank") GitHub
      .slide_index
        | #{getSlideIndex()}
      .slide_editor Yoshihiro Fukuhara
      .timestamp 2018.4.12.00:00:00


