+slide
section#ID_Geometry-aware_Deep_Network_for_Single-Image_Novel_View_Synthesis
  .paper-abstract
    .title Geometry-aware Deep Network for Single-Image Novel View Synthesis
    .info
      .authors Miaomiao Liu, Xuming He and Mathieu Sapzmann
      .conference CVPR2018
    .slide_editor: a(href="https://sites.google.com/site/shinatoyamamoto/") Shintaro Yamamoto

    .item1
      .text
        h1 概要
        p 1枚画像から視点を変えた画像を生成する方法を提案した。
          |有限の数の平面の存在を仮定し、各平面の組み合わせによって新たな視点の画像を生成する。
          |入力画像に対してピクセル単位でdepthとnormalを推定し、平面の数と同様のHomography変換を考える。
          |同時に入力画像からピクセル単位でどの平面を出力画像の生成に用いるか決定することで、出力画像を得る。
    .item2
      .text
        p
          img(src=`${figpath}Geometry-aware_Deep_Network_for_Single-Image_Novel_View_Synthesis.png`,alt="Item3Image")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 従来手法が考慮していなかった3次元的な特徴を考慮することで、歪みなどが存在しない画像を出力することに成功した。
          |数値評価においても、ground truthとのL1ノルムがベースラインと比べ小さくなっている。
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="https://arxiv.org/abs/1804.06008") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.14 15:58:18
