+slide
section#GeoNet_Geometric_Neural_Network_for_Joint_Depth_and_Surface_Normal_Estimation
  .paper-abstract
    .title GeoNet: Geometric Neural Network for Joint Depth and Surface Normal Estimation
    .info
      .authors Xiaojuan Qi, Renjie Liao, Zhengzhe Liu, Raquel Urtasu andJiaya Jia
      .conference CVPR2018
    .slide_editor Yuta Matsuzaki

    .item1
      .text
        h1 概要
        p 単眼の画像から深さ(depth)と表面の法線マップ(surface normal maps)を同時に予測する幾何ニューラルネットワーク(GeoNet)を提案．
          |NYU v2 dataset、ではGeoNetが幾何学的に一貫した深度マップと法線マップを予測できることを確認．surface normal maps推定でSOTA、また既存のdepth推定方法と同等の精度を達成．
    .item2
      .text
        p
          img(src=`${figpath}20180609_GeoNet1.png`,alt="1")
          img(src=`${figpath}20180609_GeoNet2.png`,alt="2")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        ul
          li GeoNetは2つのストリームのCNNの上に構築されており、depthとsurface normal maps間の幾何学的な関係を構築．これによってdepthとsurface normal mapsを効率的に予測するための基礎となるモデルを構築し，高い一貫性と一致精度を達成することが可能．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="https://xjqi.github.io/") 著者
          li
            a(href="http://www.cs.toronto.edu/~rjliao/papers/CVPR_2018_GeoNet.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.6.9 13:54:32
