+slide
section#ID_Grounding_Referring_Expressions_in_Images_by_Variational_Context_info
  .paper-abstract
    .title Grounding Referring Expressions in Images by Variational Context## info
    .slide_editor Kota Yoshida

    .item1
      .text
        h1 概要
        p ローカリゼーションやリンク付けなどの画像中の参照表現に焦点を当てた研究．既存手法が複数のインスタンス学習によるペアワイズの領域をモデル化し単純化しているのに対して，今回の提案手法では対象とコンテキストの相関関係を用いる変分的コンテキストである変分ベイズ法を提案している，教師あり，教師なし双方のモデルに対して実験したところSoTAであった．
    .item2
      .text
        p
          img(src=`${figpath}Grounding_Referring_Expressions_in_Images_by_Variational_Context_info.png`,alt="画像")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        ul
          li 対象とコンテキストの相関関係を用いことでどちら片方の事後分布によって他方が求められ，検索空間を縮小できる．
          li アノテーションがない部分は教師なしのモデルによって拡張することができる．
          li 候補領域を介したコンテキスト推定，推定されたコンテキストによる参照表現の定義，推定コンテキストの正規化の3つのキューによって構成
    .item4
      .text
        h1 コメント・リンク集
        ul
          li 今後はフレームワークに言語生成を含め，言語のより構造的な特徴を組み込む．
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/CameraReady/2337.pdf") Paper
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.9 01:56:22
