+slide
section#ID_Hashing_as_Tie-Aware_Learning_to_Rank
  .paper-abstract
    .title Hashing as Tie-Aware Learning to Rank
    .info
      .authors Kun He, Fatih Cakir, Sarah Adel Bargal, Stan Sclaroff
      .conference CVPR 2018
    .slide_editor: a(href="http://hirokatsukataoka.net/" target="blank") Hirokatsu Kataoka

    .item1
      .text
        h1 概要
        p ハッシングに関するランキングを直接最適化、Average Precision（AP）やNormalized Discounted Cumulative Gain（NDCG）などにより評価できる手法について提案する。Intによるハミング距離をランキングし、AP/NDCGにより評価、勾配を最適化することによりCNNを学習する。ハミング距離による画像検索において新しいベースラインを作ることに成功した。
    .item2
      .text
        p
          img(src=`${figpath}180730TieAwareLearning.png`,alt="180730TieAwareLearning")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p ハッシングによる最適化について、評価指標をダイレクトに誤差に用いることができるTie-aware Learningを提案し、画像検索問題に応用した。CIFAR-10,NUS-WIDE,LabelMe,ImageNet100において新しいベースラインを作った。
    .item4
      .text
        h1 コメント・リンク集
        p ハッシング、意外と根強く残っているし論文も通っているのでもっと目立っても良い？
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/He_Hashing_as_Tie-Aware_CVPR_2018_paper.pdf") 論文
          li
            a(href="http://cs.nju.edu.cn/lwj/L2H.html") Learning to Hash
          li
            a(href="https://github.com/kunhe/TALR") GitHub
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.30 10:27:22
