+slide
  .title Hierarchical Novelty Detection for Visual Object Recognition
  .info
    .authors Kibok Lee, Kimin Lee, Kyle Min, Yuting Zhang, Jinwoo Shin, Honglak Lee
    .conference CVPR 2018
    .paper_id 131
  .slide_editor Yue Qiu

  .item1
    .text
      h1 概要
      p ・最も近いスーパークラスを予測することにより階層的新規(novelty)物体識別及び検出のフレームワークを提案した．
        |・従来，新規なunseen物体識別は”known”と"unknown"に回帰する問題として対応されている．この論文で，物体のクラスを階層的に取り扱い，unseen物体の最も近いスーパークラスを求める．提案フレームワークによりgeneralized zero-shot learningタスクに用いられる階層的エンベディングを得られる．
        |・2種類の階層的な新規(novelty)物体検出構造を提案した．①top-down構造ではconfidence-calibrated classifierにより物体を分布の一致性が高いスーパークラスに分類する．②flatten構造では階層的分類構造の全体を用いずに error aggregationを避ける単一的なclassifierを用いる．また，①と②を組み合わせすることにより，階層的検出精度を向上できることを示した．
  .item2
    .text
      p
        img(src=`${figpath}hierarchical_detection.png`,alt="hierarchical_detection")
  .item3
    .text
      h1 新規性・結果
      p ・従来のクローズデータセットを用いた物体検出と比べ，提案手法はオープンデータセットを対応できる．
        |・generalized zero-shot learningタスクで提案フレームワークを用いられる
        |・ ImageNet, AwA2, CUBなどのデータセットで階層的新規(novelty)物体識別においてベースラインより高い精度を達成した．
  .item4
    .text
      h1 リンク集
      ul
        li
          a(href="https://arxiv.org/abs/1804.00722") 論文
  .slide_index #{getSlideIndex()}
  .timestamp 2018.5.7 13:08:17
