+slide
section#ID_Hybrid_Camera_Pose_Estimation
  .paper-abstract
    .title Hybrid Camera Pose Estimation
    .info
      .authors Federico Camposeco, Andrea Cohen, Marc Pollefeys, Torsten Sattler
      .conference CVPR 2018
    .slide_editor: a(href="http://hirokatsukataoka.net/" target="blank") Hirokatsu Kataoka

    .item1
      .text
        h1 概要
        p キャリブレーション済みのピンホールカメラにおいてカメラ姿勢推定問題を解く。例としてStructure-from-Motion (SfM)の2D-3Dマッチングを2D-2Dマッチングのように行う問題である。従来は構造ありの2D-3Dマッチングを解く絶対的なカメラ姿勢推定（absolute pose approaches）か、構造なしのテスクチャベースで2D-2Dマッチング（relative pose approaches）を行なっていたが、両者のいいとこ取りをする。本稿では新規にRANSACベースの手法を提案することで繰り返し最適化を行い、同問題の解決に取り組んだ。提案手法は、2D-3D/2D-2Dマッチングを同時にRANSACの要領で繰り返し最適化することができる（図を参照）。
    .item2
      .text
        p
          img(src=`${figpath}180607HybridCameraPoseEstimation.png`,alt="180607HybridCameraPoseEstimation")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p Structure-based/Structure-lessなマッチング（それぞれ2D-3D/2D-2Dに対応）を同時に解決する手法であるHybrid-RANSACを提案して、SfMの問題に対して適用した。両者のマッチングを単一の枠組みで実装しただけでなく、両者のいいとこ取りができる手法として完成させた。CVPRオーラルとして採択された。
    .item4
      .text
        h1 コメント・リンク集
        p SfMのことはそこまで詳しくないのだが文章から「凄さ」が伝わってくる論文だった。
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Camposeco_Hybrid_Camera_Pose_CVPR_2018_paper.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.6.7 09:00:34

