+slide
section#ID_Illuminant_Spectra-based_Source_Separation_Using_Flash_Photography
  .paper-abstract
    .title Illuminant Spectra-based Source Separation Using Flash Photography
    .info
      .authors Zhuo Hui, Kalyan Sunkavalli, Sunil Hadap, and Aswin C. Sankaranarayanan
      .conference CVPR2018
      .paper_id 752
    .slide_editor Kouyou OTSU

    .item1
      .text
        h1 概要
        p フラッシュを当てた状態の写真とそうでない写真の2種類を利用して，画像を光源の違いに基づく構成画像へと自動的に分離するアルゴリズムの提案．2つの写真の色情報の違いに基づき，光源に対応するスペクトルや陰影との関係を見出す．従来手法と比較して，光の色合いや陰影を忠実に反映した低ノイズでの分離が可能であることを示した(従来手法(Hsu et.al.)でのSNR:10.13dB 提案手法でのSNR 20.43dB)．また，提案手法が画像のライティングの編集，カラー測光ステレオに有用であることを示した．
    .item2
      .text
        p
          img(src=`${figpath}Illuminant_Spectra-based_Source_Separation_Using_Flash_Photography.png`,alt="Item3Image")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        ul
          li 光源分離にカメラのフラッシュを利用（手軽）
          li 従来手法を上回る性能．
    .item4
      .text
        h1 リンク集
        ul
          li
            a(href="https://arxiv.org/abs/1704.05564") 論文
          li
            a(href="https://www.youtube.com/watch?v=7iizopNYJT0") 動画
    .slide_index #{getSlideIndex()}
    .timestamp 2018.5.21 20:53:52

