+slide
section#ID_Im2Flow
  .paper-abstract
    .title Im2Flow: Motion Hallucination from Static Images for Action Recognition
    .info
      .authors Ruohan Gao, Bo Xiong, Kristen Grauman
      .conference CVPR 2018
    .slide_editor: a(href="" target="blank") Takahiro Itazuri

    .item1
      .text
        h1 概要
        p 人間が一枚の静止画から動き情報を推定可能であることを受け、一枚の静止画から動き情報（フロー）の事前知識を得る手法を提案。具体的には動き情報の表現方法とU-Netの構造を変形させたエンコーダ・デコーダネットワークを提案。提案手法で得たフロー情報を利用することで、行動認識の精度が向上した。
    .item2
      .text
        p
          img(src=`${figpath}Im2Flow.png`,alt="Im2Flow")
    .item3
      .text
        h1 新規性・結果
        p 動き情報を動きの大きさと角度（角度はコサインとサインに分解）の計３チャンネルで表現する。角度は周期的な構造であるが、三角関数を用いることでこれを避けることができる。損失関数は(1)フロー自体の損失と(2)動き情報のコンテンツの損失の和で構成される。動き情報のコンテンツは、ResNetをUCF-101データセット上で行動認識にfine-tuningさせたものから取得し、推定したフローと正解のフローから得られたコンテンツの差から損失を得る。
    .item4
      .text
        h1 リンク集
        ul
          li
            a(href="https://arxiv.org/pdf/1712.04109.pdf") 論文
    .slide_index #{getSlideIndex()}
    

