+slide
section#ID_Inference_in_Higher_Order_MRF-MAP_Problems_with_Small_and_Large_Cliques
  .paper-abstract
    .title Inference in Higher Order MRF-MAP Problems with Small and Large Cliques
    .info
      .authors Ishant Shanu, Chetan Arora, S.N. Maheshwari
      .conference CVPR 2018
    .slide_editor Kazushige Okayasu

    .item1
      .text
        h1 概要
        p 一般的なMRF-MAP問題はNP-hardだが、ポテンシャル関数がsubmodularのとき、多項式時間で解くことができる。この式を解くためには、フローベースのアプローチと多面体ベースのアプローチがある。その2つのアプローチを組み合わせるフレームワークを提案
    .item2
      .text
        p
          img(src=`${figpath}Inference_in_Higher_Order_MRF-MAP_Problems_with_Small_and_Large_Cliques.png`,alt="Inference_in_Higher_Order_MRF-MAP_Problems_with_Small_and_Large_Cliques")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p Generic Cuts やSOSMNPのようなアルゴリズムを組み合わせることの有効性を確立
    .item4
      .text
        h1 コメント・リンク集
        p CNNじゃない論文
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Shanu_Inference_in_Higher_CVPR_2018_paper.pdf") 論文
          li
            a(href="https://www.iiitd.edu.in/~ishants/SoSmix.html") プロジェクトページ
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.31 10:55:22
