+slide
section#ID_Intrinsic_Image_Transformation_via_Scale_Space_Decomposition
  .paper-abstract
    .title Intrinsic Image Transformation via Scale Space Decomposition
    .info
      .authors L. Cheng et al.,
      .conference CVPR 2018
    .slide_editor Kensho Hara
  
    .item1
      h1 概要
      .text.
        Intrinsic Image Decompositionにおける新しい手法を提案．
        ラプラシアンピラミッドを導入したネットワーク構造により，
        マルチスケールに分解した処理を実現している．
        評価実験により，SOTAよりも高い性能を達成したことを確認．
  
    .item2
      img(src=figpath+"Intrinsic_Image_Transformation_via_Scale_Space_Decomposition.png")
    .item3
      h1 新規性・結果・なぜ通ったか？
      .text
        ul
          li ラプラシアンピラミッドを導入したネットワーク構造を提案
          li SOTAよりも高い性能を達成

    .item4
      h1 コメント・リンク集
      .text
        ul
          li: a(href="http://openaccess.thecvf.com/content_cvpr_2018/html/Cheng_Intrinsic_Image_Transformation_CVPR_2018_paper.html") 論文
          li 具体的な実装が全然書いてなくて詳細が理解できない気がするんだけどこれでいいの?
          li Intrinsic Image Decompositionにおいてラプラシアンピラミッドの導入が重要という話があるように見えなくて，なぜこれがいいのかよくわからない
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.19 15:09:08


