+slide
section#ID_Joint_Cuts_and_Matching_of_Partitions_in_One_Graph
  .paper-abstract
    .title Joint Cuts and Matching of Partitions in One Graph
    .info
      .authors Tianshu Yu, Junchi Yan, Jieyi Zhao, Baoxin Li
      .conference CVPR 2018
    .slide_editor Kazushige Okayasu

    .item1
      .text
        h1 概要
        p グラフカットとグラフマッチングを同時に最適化する問題を定式化し，解決する手法Iterative Bregman Gradient Projection(IBGP)の提案
    .item2
      .text
        p
          img(src=`${figpath}Joint_Cuts_and_Matching_of_Partitions_in_One_Graph.png`,alt="Joint_Cuts_and_Matching_of_Partitions_in_One_Graph")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p ・実世界の画像と合成データセットの両方で検証し， IBGPは外れ値には脆弱だが，様々な外乱に頑健
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Yu_Joint_Cuts_and_CVPR_2018_paper.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.8.1 23:32:20
