+slide
section#Large-scale_Point_Cloud_Semantic_Segmentation_with_Superpoint_Graphs
  .paper-abstract
    .title Large-scale Point Cloud Semantic Segmentation with Superpoint Graphs
    .info
      .authors Yoshihiro Fukuhara et al.
      .conference CVPR 2018
    .slide_editor Yoshihiro Fukuhara

    .item1
      .text
        h1 概要
        p 大規模(数百万規模)な point clouds データに対して効率的に Semantic Segmentation を行う研究. まず, point clouds 全体を形状が単純で, 意味的に同じ点が属する部分集合(superpoint）に分類し, superpoint が作るグラフ（SPG）に graph convorution を適用することで segmentation を行う. Semantic3D と S3DIS dataset を用いた評価実験では先行研究よりも良い結果を達成した.
    .item2
      .text
        p
          img(src=`${figpath}fukuhara-Large-scale-Point-Cloud-Semantic-Segmentation-with-Superpoint-Graphs.png`,alt="fukuhara-Large-scale-Point-Cloud-Semantic-Segmentation-with-Superpoint-Graphs.png")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        ul
          li superpoint の構成は先行研究(Guinard+17)で提案された, Global Energy を用いて行う.
          li 各 superpoint の特徴量を PointNet を用いて抽出する. (大規模なデータを扱うため, 各 superpoint 内でダウンサンプリングを行っている.) 
          li 抽出された各 superpoint の特徴量に対して Gated Recurrent Unit (GRU) を用いた graph convorution を適用することで, 各 superpoint のクラス分類を行う.
          li Semantic3D と S3DIS dataset を用いた評価実験では, ShapeNet などの先行研究と比較して複数の評価尺度で最も優位な結果を達成した.
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="https://arxiv.org/abs/1711.09869" target="blank") [論文] Large-scale Point Cloud Semantic Segmentation with Superpoint Graphs
          li
            a(href="https://github.com/loicland/superpoint_graph" target="blank") [Code] GitHub
    .slide_index #{getSlideIndex()}
    .timestamp 2018.5.28 00:47:55