+slide
section#ID_LDMNet_Low_Dimensional_Manifold_Regularized_Neural_Networks
  .paper-abstract
    .title LDMNet: Low Dimensional Manifold Regularized Neural Networks
    .info
      .authors Wei Zhu, Qiang Qiu, Jiaji Huang, Robert Calderbank, Guillermo Sapiro, Ingrid Daubechies
      .conference CVPR 2018
    .slide_editor: a(href="http://hirokatsukataoka.net/" target="blank") Hirokatsu Kataoka

    .item1
      .text
        h1 概要
        p データの数や質によってはオーバーフィッティングを起こしてしまうが、本論文ではLow-Dimensional Manifold-Regularized Neural Network (LDMNet; 低次元の多様体により正則化を実行するネットワーク)を提案することで特徴量や入力データに対して正則化を行う取り組みである。外的なパラメータなしに多様体を探索することが望ましいが、ここではEuler-Lagrange方程式は計算的な複雑性を上げることなくポイントクラウド計算にてLaplace-Beltrami方程式と等価（ここ自信ない）であることを示した。実験においてLDMNetは異なるモダリティ、例えばCross-spectralな顔認識において有効であることが判明した。右上図はweight decay/DropOutなどによる正則化手法と比較した結果である。LDMNetは特徴量をもっともよく識別する空間に配置する多様体を構成できている。
    .item2
      .text
        p
          img(src=`${figpath}180723LDMNet.png`,alt="180723LDMNet")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 低次元の多様体空間を構成することで、入力データには（できる限り）依存せずデータ/特徴空間に関する正則化を行うことができるLDMNetを提案した。より少ない画像枚数の学習にて良好な精度を実現することが明らかとなった。各カテゴリ50枚のMNIST学習にて95.57%を実現（ベースラインは91.32%/92.31%）した。
    .item4
      .text
        h1 コメント・リンク集
        p クロススペクトラル（ドメインが多少異なる？）に対して良好な精度を実現しているため、過学習は避けられた？しかし、ドメイン変換のようなものについても検証を行ってほしい。
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Zhu_LDMNet_Low_Dimensional_CVPR_2018_paper.pdf") 論文
          li
            a(href="https://scholars.duke.edu/display/pub1286297") Project
            |*
            a(href="https://services.math.duke.edu/~zhu/publication.html") 著者
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.23 14:45:36
