+slide
section#Learning_Deep_Models_for_Face_Anti-Spoofing
  .paper-abstract
    .title Learning Deep Models for Face Anti-Spoofing: Binary or Auxiliary Supervision
    .info
      .authors Yaojie Liu, Amin Jourabloo, Xiaoming Liu
      .conference CVPR2018 SPOTLIGHT
    .slide_editor Kazuki Inoue
  
    .item1
      .text
        h1 概要
        p 入力された動画が生身の人間によるものか、あるいはそれ以外のspoofing（撮影された動画や顔のプリントなど）を判定する研究。
          |空間的な情報として顔のデプスマップ、時間的な情報としてrPPG（信号のパルス信号）。
          |CNN-RNNモデルを使用しCNNでデプスマップと顔の特徴量マップを、RNNは各時刻でCNNによって推定された顔の特徴量マップを入力としてrPPGを推定する。
          |既存研究では様々なパターンのspoofingがあるにも関わらずCNNによるバイナリの識別問題として捉えていたため、CNNの広すぎる空間を学習してしまい結果的に過学習をしてしまっていた。
          |提案手法では補助的な情報としてデプスマップ、rPPGを使用することで識別精度を向上した。
          |更に165の被写体に対して様々な照明環境、ポーズ、表情、顔むきごとの動画を収集し、anti-spoofingのためのSiWデータベースを構築した。
    .item2
      .text
        p
          img(src=`${figpath}20180504Learning_Deep_Models_for_Face_Anti-Spoofing.png`)
    .item3
      .text
        h1 新規性・結果・なぜCVPRに通ったか？
        ul
          li 提案手法では既存研究のようにバイナリの識別問題とはとらえず、デプスマップとrPPGを使用することで学習したパターンのspoofingを確実に検出できることを目的とした。
          li 既存研究とAPCER、BPCER、ACER、HTER値における比較を行なった結果、提案手法優位な結果となった。識別精度は約72%、state-of-the-artの研究では約34%。
          li 165の被写体に対して様々な照明環境、ポーズ、表情、顔むきごとの動画を収集し、anti-spoofingのためのSiWデータベースを構築。
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="https://arxiv.org/abs/1803.11097") 論文
    .slide_index #{getSlideIndex()}
