+slide
section#ID_Learning_Steerable_Filters_for_Rotation_Equivariant_CNNs
  .paper-abstract
    .title Learning Steerable Filters for Rotation Equivariant CNNs
    .info
      .authors Maurice Weiler, Fred A. Hamprecht, Martin Storath
      .conference CVPR2018, arXive:1711.07289
      .paper_id 112
    .slide_editor Hiroshi Fukui

    .item1
      .text
        h1 概要
        p 様々な回転や変化に頑健なSteerable Filter CNNs(SFCNNs)を提案．
          |SFCNNsの主の構造は，1枚のカーネルを様々な方向に幾何変化したカーネルを用意し，それぞれのカーネルに対する特徴マップを出力＆統合する(Rotation equivariant layer)．
          |ここで，SFCNNsのカーネルはCircular harmonics(球面調和関数)をベースに作成しており，カーネルとの線形結合により畳み込むカーネルを決定する．
          |そして，畳み込み層の学習ではこの結合重みを学習により更新する．
    .item2
      .text
        p
          img(src=`${figpath}112_overview.png`,alt="112_overview.png")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 回転や変動に頑健なCNNを提案しており，rotated MNIST Dataset(回転込みのMNIST)とISBI 2012 2D EM semantic challenge(脳の細胞壁の境界をセグメンテーションするタスク)において高い性能を達成している．
    .item4
      .text
        h1 コメント・リンク集
        p カーネルの組み合わせでCNNを最適化するアイディアは面白いと思う．
          |2つのタスクにおいて高い性能を示しているが，データセットのタスクとしては少し簡単なのでは？という気がする(この分野ではメジャーなデータセット?)
        ul
          li
            a(href="https://arxiv.org/abs/1711.07289") 論文リンク
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.22 19:15:10
