+slide
section#ID_Learning_Depth_from_Monocular_Videos_using_Direct_Methods
  .paper-abstract
    .title Learning Depth from Monocular Videos using Direct Methods
    .info
      .authors Chaoyang Wang, Jose Miguel Buenaposada, Rui Zhu, Simon Lucey
      .conference CVPR 2018
      .paper_id 233
    .slide_editor Kazuma Asano

    .item1
      .text
        h1 概要
        p 眼カメラで撮影した動画をデプス推定する論文．
          |従来のデプス推定では，CNN姿勢予測器を用いてデプス予測を行っているが，従来までの手法だけでは単眼カメラで撮影した動画のデプス予測に最適な手法ではない．そこで本稿ではDirect Visual Odometryを改良したDDVO，Pose-CNN，DDVO＋Pose-CNNの3つの手法を用いて姿勢予測し，さらにデプスを教師なし学習で推定する手法を提案している．
          |構造としては一度の入力に3つの連続した画像 I1，I2，I3を使用する．それらの入力からまずI1，I3からデプスの逆数の値を取ったinverse depth mapと，すべての画像の姿勢推定を行い，I2とそれ以外の画像の姿勢の関係性を推定する．そしてI2とI1，I3とのwarped imageの相違性を比較しロスを求め評価する．
    .item2
      .text
        p
          img(src=`${figpath}180233_0.PNG`,alt="Item3Image1")
          img(src=`${figpath}180233_1.PNG`,alt="Item3Image2")
    .item3
      .text
        h1 結果
        p 実験の評価方法としてKITTIデータセットを使用しており，従来手法と比較し，単眼カメラで撮影した動画でありながら，提案手法のPose-CNN+DDVOを使用したものが最も高い評価値である．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="https://arxiv.org/abs/1712.00175") arxiv
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.20 16:39:34
