+slide
section#ID_Learning_Dual_Convolutional_Neural_Networks_for_Low-Level_Vision
  .paper-abstract
    .title Learning Dual Convolutional Neural Networks for Low-Level Vision
    .info
      .authors Jinshan Pan, Sifei Liu, Deqing Sun, Jiawei Zhang, Yang Liu, Jimmy Ren, Zechao Li, Jinhui Tang, Huchuan Lu, Yu-Wing Tai, Ming-Hsuan Yang
      .conference CVPR2018
    .slide_editor Kazushige Okayasu

    .item1
      .text
        h1 概要
        p ・ 超解像やノイズ除去などのLow-level VisionのためのDualCNNの提案
          |・ DualCNNでは全体の構造の推定，細部の推定をそれぞれ行い超解像やノイズ除去などのタスクに応じた定式化を行い画像の生成を行う
    .item2
      .text
        p
          img(src=`${figpath}Learning_Dual_Convolutional_Neural_Networks_for_Low-Level_Vision.pug`,alt="Learning_Dual_Convolutional_Neural_Networks_for_Low-Level_Vision")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p ・従来の超解像やノイズ除去はそれぞれタスクに特化したアーキテクチャが考案されていたが，本手法では1つのネットワークで最先端の手法と同等の精度を実現
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Pan_Learning_Dual_Convolutional_CVPR_2018_paper.pdf") 論文
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/Supplemental/0816-supp.pdf") Supplementary material
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.27 21:30:49
