+slide
section#Learning_by_asking_questions
  .paper-abstract
    .title Learning by asking questions
    .info
      .authors Ishan Misra, Ross Girshick, Rob Fergus, Martial Hebert, Abhinav Gupta, Laurens van der Maaten
      .conference CVPR 2018
      .paper_id 3
    .slide_editor Yue Qiu
  
    .item1
      .text
        h1 概要
        p ・VQAタスクに用いられる新たなインターアクティブ学習フレームワークを提案した．
          |・提案フレームワークは入力画像から，question proposal moduleにより問題集を生成し，画像との相関性を基準に問題集をフィルタリングし，残った問題をVQAにより解く．予測した答え，自己の知識及び過去の知識から質問を1つ選び，oracleにより答える．
          |・提案フレームワークにより，効率高い学習サンプルを得られる．また，従来のVQAネットワークで用いられるstate-of-the-artな問題集を生成できる．
    .item2
      .text
        p
          img(src=`${figpath}learning_by_asking_questions.png`,alt="learning_by_asking_questions")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p ・従来のあらゆるフレームワークは学習データから学習を行う．この論文で，質問文の自動生成できる及び質問を選択する構造を導入し，自動的でインターアクティブで環境から情報を獲得することを可能にした．
          |・実験を通し，提案手法により質問を選択する規制がsampleの効率を高められる．（従来と同じ精度の場合，学習データ量を40％減らせる）
    .item4
      .text
        h1 コメント・リンク集
        p real-worldバージョンのLBAシステムが実現されたら，機械で学習することは更に人の学習システムに近づく．
        ul
          li
            a(href="https://arxiv.org/abs/1712.01238") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.5.1 12:10:26
