+slide
section#ID_Learning_a_Complete_Image_Indexing_Pipeline
  .paper-abstract
    .title Learning a Complete Image Indexing Pipeline
    .info
      .authors Himalaya Jain, Joaquin Zepeda, Patrick P´erez, and R´emi Gribonval
      .conference CVPR2018
    .slide_editor Tenga Wakamiya

    .item1
      .text
        h1 概要
        p 構造化されたバイナリエンコーディングの統一的なニューラルフレームワーク内の両方のコンポーネントを学習する1番目のシステムを提案する．
    .item2
      .text
        p
          img(src=`${figpath}Learning_a_Complete_Image_Indexing_Pipeline.png`,alt="Learning_a_Complete_Image_Indexing_Pipeline")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 反転されたファイルおよびコンパクトな特徴エンコーダを構築するために教師ありディープラーニング方法を利用する完全な画像索引付けパイプラインを提示する．
          |以前の方法は，教師なし逆ファイルメカニズムを使用したか，または特徴エンコーダを導出するためにのみ教師ありを採用していた．
          |提案手法が大規模な画像検索において最先端の結果を達成することを実験的に確立した．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="https://arxiv.org/pdf/1712.04480.pdf") URL
    .slide_index #{getSlideIndex()}
    .timestamp 2018.8.1 23:22:47
