+slide
section#ID_Mining_on_Manifolds_Metric_Learning_without_Labels
  .paper-abstract
    .title Mining on Manifolds: Metric Learning without Labels
    .info
      .authors A. Iscen, G. Tolias, Y. Avrithis and O. Chum
      .conference CVPR2018
    .slide_editor Ryota Suzuki

    .item1
      .text
        h1 概要
        p 教師なしマイニングの話．
          |ハードポジティブ・ハードネガティブが分別しやすいマニフォールドにおける表現方法を考案．
          |本手法によれば，
          |正例たちは一つのマニフォールドに距離が離れて置かれ，
          |負例たちは複数のマニフォールドに距離が近い形で置かれる．
          |ユークリッド的な近さとマニフォールド的な近さの不一致性によって，両者を分別可能になる．
    .item2
      .text
        p
          img(src=`${figpath}Mining_on_Manifolds_Metric_Learning_without_Labels.png`,alt="Figure1")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 学習済みネットワークの教師なしファインチューニングや，特定物体検索に適用させてみて，完全・部分教師ありと比較して性能超え．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/CameraReady/2779.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.6 10:41:24
