+slide
section#ID_Multispectral_Image_Intrinsic_Decomposition_via_Subspace_Constraint
  .paper-abstract
    .title Multispectral Image Intrinsic Decomposition via Subspace Constraint
    .info
      .authors Qian Huang, Weixin Zhu, Yang Zhao, Linsen Chen, Yao Wang, Tao Yue and Xun Cao 
      .conference CVPR2018
    .slide_editor Kenichiro Wani

    .item1
      .text
        h1 概要
        p マルチスペクトル画像は，物体の表面特性の多くの手がかりを含んでおり，したがって，再カラー化およびセグメント化などの多くのコンピュータビジョンタスクで使用することができる。しかしながら，自然なシーンにおける複雑な幾何学的構造のために，同じ表面のスペクトル曲線は，異なる照明および異なる角度のもとで非常に異なって見える可能性がある。本稿では，単一のマルチスペクトル画像からシェーディングと反射を分解する新しいマルチスペクトル画像固有分解モデル（MIID）を提示する。
    .item2
      .text
        p
          img(src=`${figpath}Multispectral_Image_Intrinsic_Decomposition_via_Subspace_Constraint.png`,alt="Item3Image")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p マルチスペクトル画像固有分解モデル（MIID）を提示する。著者らは，マルチスペクトル領域に対して，RGB画像固有分解のために提案されているRetinexモデルを拡張する。これに基づいて，部分空間制約が，シェーディングおよび反射スペクトル空間の両方に導入している。
    .item4
      .text
        h1 コメント・リンク集
        ol
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/CameraReady/3636.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.8.3 15:19:51
