+slide
section#ID_Multi-Frame_Quality_Enhancement_for_Compressed_Video
  .paper-abstract
    .title Multi-Frame Quality Enhancement for Compressed Video
    .info
      .authors Ren Yang, Mai Xu, Zulin Wang, Tianyi Li
      .conference CVPR 2018
    .slide_editor: a(href="http://hirokatsukataoka.net/" target="blank") Hirokatsu Kataoka
  
    .item1
      .text
        h1 概要
        p 圧縮した動画像に対して画質を向上させる研究。Peak Quality Frames (PQFs)を用いたSVMベースの手法やMulti-Frame CNN (MF-CNN)を提案。提案法により、圧縮動画における連続フレームからアーティファクトを補正するような働きが見られた。
    .item2
      .text
        p
          img(src=`${figpath}180324PQF.png`,alt="180324PQF")
    .item3
      .text
        h1 新規性・結果
        p 動画の画質改善手法においてState-of-the-art。動画に対する画質改善の結果は図を参照。
    .item4
      .text
        h1 リンク集
        ul
          li
            a(href="https://arxiv.org/abs/1803.04680") 論文
          li
            a(href="https://github.com/ryangBUAA/MFQE") GitHub
    .slide_index #{getSlideIndex()}
    .timestamp 2018.3.24 15:14:35


