+slide
section#ID_Multi-Evidence_Filtering_and_Fusion_for_Multi-Label_Classification_Object_Detection_and_Semantic_Segmentation_Based_on_Weakly_Supervised_Learning
  .paper-abstract
    .title Multi-Evidence Filtering and Fusion for Multi-Label Classification, Object Detection and Semantic Segmentation Based on Weakly Supervised Learning
    .info
      .authors Weifeng Ge, Sibei Yang and Yizhou Yu
      .conference CVPR2018
    .slide_editor Kazuho Kito

    .item1
      .text
        h1 概要
        p マルチレベルの物体認識，検出，セマンティックセグメンテーションのための弱教師カリキュラム付き学習のパイプラインを提案。このパイプラインは物体位置の中間点と訓練画像のピクセルのラベルの結果をを入手し、結果を用いて教師付きのやり方で特定のタスクの深層学習で訓練する。その全体のプロセスは4つのステージを含む、訓練画像の物体位置を含み、物体のインスタンスのフィルタリングと結合し、訓練画像のピクセルラベリングをし、特定のタスクのネットワークでトレーニングをする。訓練画像からキレイな物体のインスタンスを入手することで、物体のインスタンスのフィルタリング、結合、クラスファイリングのための新しいアルゴリズムを複数の解決策から集める。このアルゴリズムは、検出された物体のインスタンスをフィルタリングするため、metric learningと密度ベースのクラスタリングの両方を組み込んでいる。
    .item2
      .text
        p
          img(src=`${figpath}Multi-Evidence_Filtering_and_Fusion_for_Multi-Label_Classification.PNG`,alt="Multi-Evidence_Filtering_and_Fusion_for_Multi-Label_Classification.PNG")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p マルチレベルの画像の分類においてstate-of-the-artを達成．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="https://arxiv.org/pdf/1802.09129.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.6.18 23:24:56


