+slide
section#Neural_Style_Transfer_via_Meta_Networks
  .paper-abstract
    .title Neural Style Transfer via Meta Networks
    .info
      .authors Falong Shen, Shuicheng Yan and Gang Zeng
      .conference CVPR2018
    .slide_editor Yuta Matsuzaki

    .item1
      .text
        h1 概要
        p 本稿ではメタネットワークを用いた1つのフィードフォワードパスによる，(style transferのための)ニューラルネットワークパラメータを自動生成する手法を提案．最新のGPU 1つで19 ms以内に任意の新しいスタイルを表現することが可能．また，生成された画像変換ネットワークの容量はわずか449 KBでありモバイルデバイス上でリアルタイムでの実行が可能．
        img(src=`${figpath}NSTviaMeta_Networks1.png`,alt="1")
    .item2
      .text
        p
          img(src=`${figpath}NSTviaMeta_Networks2.png`,alt="2")
          img(src=`${figpath}NSTviaMeta_Networks3.png`,alt="3")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 既存のstyle transferに関する研究の問題点
        ul
          li スタイル毎にネットワークを学習する必要
          li 推論の段階で確率的勾配降下による膨大な反復作業によって新規スタイルによる生成能力を欠く可能性
        p 以上の問題に対応するための策として
        ul          
          li スタイル画像を取り込み，対応する画像変換ネットワークを直接生成するメタネットワークを構築
        p さらに
        ul
          li 最新のGPU 1枚で19 ms以内に任意の新しいスタイルを表現
          li 生成された画像変換ネットワークの容量はわずか449 KB
          li メタネットワークのhidden featuresを操作することによってスタイル転送ネットワークの多様性について検証
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Shen_Neural_Style_Transfer_CVPR_2018_paper.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.6.19 17:17:35
