+slide
section#ID_Now_You_Shake_Me_Towards_Automatic_4D_Cinema
  .paper-abstract
    .title Now You Shake Me: Towards Automatic 4D Cinema
    .info
      .authors Yuhao Zhou, Makarand Tapaswi, Sanja Fidler
      .conference CVPR2018
    .slide_editor Kazuho Kito

    .item1
      .text
        h1 概要
        p 4D映画を自動で作成するための研究。63本の映画に9286のエフェクトのアノテーションをしたデータセットであるMOVIE4dを提案。エフェクトは、揺れ、天候、風、水しぶきなど。また、人の形のみでなく、視聴覚情報をまとめるニューラルネットワークとしてConditional Random Field modelを提案。
    .item2
      .text
        p
          img(src=`${figpath}Now_You_Shake_Me_Towards_Automatic_4D_Cinema.PNG`,alt="Now_You_Shake_Me_Towards_Automatic_4D_Cinema.PNG")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 映画のスレッドだけでなく、クリップ内でのキャラクター間のエフェクトの相関関係を利用。
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Zhou_Now_You_Shake_CVPR_2018_paper.pdf") 論文
          li
            a(href="http://www.cs.toronto.edu/~henryzhou/movie4d/index.html") ProjectPage
    .slide_index #{getSlideIndex()}
    .timestamp 2018.6.23 02:05:00


