+slide
section#ID_OLE_Orthogonal_Low-Rank_Embedding_-_A_Plug_and_Play_Geometric_Loss_for_Deep_Learning
  .paper-abstract
    .title OLE: Orthogonal Low-Rank Embedding - A Plug and Play Geometric Loss for Deep Learning
    .info
      .authors José Lezama, Qiang Qiu, Pablo Musé, Guillermo Sapiro
      .conference CVPR 2018
    .slide_editor Kazushige Okayasu

    .item1
      .text
        h1 概要
        p ・クラス内の分散を低減し、クラス間のマージンを同時に学習するOrthogonal Low-Rank Embedding(OLE)を提案
          |・ OLEはlossに低ランク制約と直交化制約を加える．
    .item2
      .text
        p
          img(src=`${figpath}OLE_Orthogonal_Low-Rank_Embedding_-_A_Plug_and_Play_Geometric_Loss_for_Deep_Learning.png`,alt="OLE_Orthogonal_Low-Rank_Embedding_-_A_Plug_and_Play_Geometric_Loss_for_Deep_Learning")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p ・学習画像が少ないデータセットで特に効果があり，Stanford STL-10でstate-of-the-art
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Lezama_OLE_Orthogonal_Low-Rank_CVPR_2018_paper.pdf") 論文
          li
            a(href="https://github.com/jlezama/OrthogonalLowrankEmbedding") github
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.31 17:39:25
