+slide
section#ID_Reward_Learning_from_Narrated_Demonstrations
  .paper-abstract
    .title Reward Learning from Narrated Demonstrations
    .info
      .authors Hsiao-Yu Tung et al.
      .conference CVPR 2018
    .slide_editor Yoshihiro Fukuhara

    .item1
      .text
        h1 概要
        p 動画による教示と言語による説明を組み合わせて Reward の学習を行う研究. 言語情報によって与えられた目標の達成の可否を, 画像情報から判断する Instractable Perceptual Rewards を提案し, 学習用のデータセットを作成した. また, 評価実験では教師ありで静止画像のみから学習した場合と比較して, 優位な結果を達成した.
    .item2
      .text
        p
          img(src=`${figpath}fukuhara-Reward-Learning-from-Narrated-Demonstrations.png`,alt="fukuhara-Reward-Learning-from-Narrated-Demonstrations.png")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        ul
          li 言語情報によって与えられた目標の達成の可否を, 画像情報から判断する Instractable Perceptual Rewards を提案
          li 上記の教師データとして, 動画による教示に言語による説明を付随した, Narrated Visual Demonstration (NVD) のデータセットを作成した
          li 提案手法は hard negative mining によって少ない教師データからの効率的な学習が可能
          li 評価実験では Visual Genome のみを用いて学習した手法 [Hu+16] と比較して優位な結果を達成
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Tung_Reward_Learning_From_CVPR_2018_paper.pdf" target="blank") [論文] Reward Learning from Narrated Demonstrations
    .slide_index #{getSlideIndex()}
    .timestamp 2018.6.18 23:54:55


