+slide
section#ID_Salient_Object_Detection_Driven_by_Fixation_Prediction
  .paper-abstract
    .title Salient Object Detection Driven by Fixation Prediction
    .info
      .authors Wenguan Wang, Jianbing Shen, Xingping Dong and Ali Borji
      .conference CVPR2018
      .paper_id 201
    .slide_editor: a(href="http://www.mprg.cs.chubu.ac.jp/~ryorsk/") Ryosuke Araki

    .item1
      .text
        h1 概要
        p Fixation prediction（FP）を用いてSalient object detection（SOD）を行い，画像内の顕著な物体を識別しセグメンテーションするAttentive Saliency Network （ASNet）を提案．FPによって得られるFixation mapは，画像シーンの高レベルでの理解を行い，SODで細かい物体レベルでのセグメンテーションを行う．ASNetはconvLSTMを階層構造にしたもので，トップダウンに最適化される．
        p ※FP：人間がひと目見て焦点を当てる場所を予測する．SOD：画像内の顕著な物体領域を強調（検出）する．
    .item2
      .text
        p
          img(src=`${figpath}20180720_ASNet.jpg`,alt="20180720_ASNet.jpg")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p Visual saliencyの主要なタスクのFPとSODについて，あまり探求されていない両者の関係について焦点をおいて新しいネットワークを開発した．学習用と評価用で別のデータセットを複数用いている．SOTAを含む他の手法と比較して同等またはそれ以上の性能（F値，MAE）を示した．正確なSODのために，Fixation mapが補助になっていることも示した．
    .item4
      .text
        h1 コメント・リンク集
        p FPとSODについてあまり良く知らなかったが，本手法は人間が物体を見る時に近い，という点で理に適っており良いアイデアだと感じた．
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/CameraReady/0178.pdf") 論文
          li
            a(href="https://github.com/wenguanwang/ASNet") GitHub
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.23 16:13:57
