+slide
section#ID_Self-supervised_Multi-level_Face_Model_Learning_for_Monocular_Reconstruction_at_over_250_Hz
  .paper-abstract
    .title Self-supervised Multi-level Face Model Learning for Monocular Reconstruction at over 250 Hz
    .info
      .authors Ayush Tewari, Michael Zollhöfer, Pablo Garrido, Florian Bernard, Hyeongwoo Kim, Patrick Perez, Christian Theobalt
      .conference CVPR 2018 Oral
    .slide_editor Kazuki Inoue
  
    .item1
      .text
        h1 概要
        p 単眼顔画像からリフレクタンス、ジオメトリー、照明情報を推定する研究。
          |トレーニングデータには上記の情報のアノテーションを必要とせず、3D Morpahlbe Modelを使用することで高品質な3Dパラメトリックモデルを生成。
          |3D Morpahlbe Modelを使用することで高品質な3Dパラメトリックモデルを生成。
          |テスト時には250Hz以上で実行することができる。
    .item2
      .text
        p
          img(src=`${figpath}20180505Self-supervised_Multi-level_Face_Model_Learning_for_Monocular_Reconstruction_at_over_250_Hz.png`)
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        ul
          li 大量のアノテーションが必要という既存手法の問題点を解決
          li 様々な表情に対応することができ、口髭や化粧も再現することが可能。
          li 既存のラーニングベースの手法と比較した結果、同等の実行時間でより精度の高いリコンストラクションが可能となった。
             |最適化ベースの手法と比較すると10%ほど精度は落ちるものの、最適化ベースの手法では実行時間が120secかかるが提案手法では4msで実行可能。 
    .item4
      .text
        h1 コメント・リンク集
        ul
          li 目元やおでこの皺の再現には至っていない
          li
            a(href="https://arxiv.org/abs/1712.02859") 論文
          li
            a(href="https://web.stanford.edu/~zollhoef/papers/CVPR18_FaceModel/page.html") Project page
    .slide_index #{getSlideIndex()}

