+slide
section#Self_supervised_Learning_of_Geometrically_Stable_Features_Through_Probabilistic_Introspection
  .paper-abstract
    .title Self-supervised Learning of Geometrically Stable Features Through Probabilistic Introspection
    .info
      .authors David Novotny et al.
      .conference CVPR 2018
    .slide_editor Tomoyuki Suzuki
  
    .item1
      .text
        h1 概要
        p 幾何学変換を利用したGeometrically Stable な特徴表現の獲得手法。オリジナル画像とそれに幾何学変換を施した画像を同じCNNに学習し、中間特徴マップ上で対応するpixelでの特徴量の類似度が高くなるように学習する。キーポイントマッチングなどの問題設定で教師あり学習以上の効果を発揮。Pixelによってはマッチングが困難ば場合も存在するため、不確実性を考慮した学習を提案。
    .item2
      .text
        p
          img(src=`${figpath}Novotny.png` height=`1000`)
    .item3
      .text
        h1 手法・新規性
        p 
          |ペアとなる画像を同じNNに入力し、各pixel ペアの類似度と、不確実性を表す値を算出。不確実性を考慮した損失関数を定義することで、結果的にNNはマッチング可能かつ対応するpixelに関しては高い類似度と低い不確実性を、マッチングが困難なものに関しては高い不確実性を算出するように学習される。
          |
          |
  
    .item4
      .text
        h1 メモ・リンク
        |定義された距離尺度において対象に直接近づける枠組みが多い通常の類似度学習と異なり、連続値である類似度を確率変数とすることで、不確実性を考慮するのは興味深い。しかし、定式化としては論文内のものよりも、不確実性利用してモデルが類似度の分布を算出しているという定式化にした方がわかりやすいのではないかと思った。
        ul
          li
            a(href="https://arxiv.org/abs/1804.01552") 論文
    .slide_index #{getSlideIndex()}
    
