+slide
section#ID_Single_View_Stereo_Matching
  .paper-abstract
    .title Single View Stereo Matching
    .info
      .authors Yue Luo, Jimmy Ren, Mude Lin, Jiahao Pang, Wenxiu Sun, Hongsheng Li and Liang Lin
      .conference CVPR 2018
    .slide_editor kodai nakashima
  
    .item1
      .text
        h1 概要
        p 従来の単眼奥行き推定法では, 推論の際に幾何的な制約を明示的に課していないことや多くのground truth labeled dataが必要といった問題があった.
          |この研究では単眼奥行き推定問題をview synthesis問題とstereo matching問題に分けて考えることにより, 従来法の問題を解決する.
          |view synthesis問題では, 入力を左画像として捉え, view synthesis networkにより右画像を生成する. stereo matching問題では, 左画像を右画像を用いstereo matching networkにより奥行きを推定する.
    .item2
      .text
        p
          img(src=`${figpath}single_view_stereo_matching.PNG`,alt="single_view_stereo_matching.PNG")
    .item3
      .text
        h1 新規性・結果
        ul
          li 単眼奥行き推定問題をview synthesis問題とstereo matching問題に分けて考えた.
          li 従来法の問題を解決.
          li 従来のどの方法よりも精度が高い.
    .item4
      .text
        h1 リンク集
        ul
          li
            a(href="https://arxiv.org/pdf/1803.02612.pdf") 論文URL
    .slide_index #{getSlideIndex()}
    .timestamp 2018.4.30 18:04:11
  

