+slide
section#ID_Sliced_Wasserstein_Distance_for_Learning_Gaussian_Mixture_Models
  .paper-abstract
    .title Sliced Wasserstein Distance for Learning Gaussian Mixture Models
    .info
      .authors Soheil Kolouri, Gustavo K. Rohde, Heiko Hoffmann
      .conference CVPR 2018
    .slide_editor Kazushige Okayasu

    .item1
      .text
        h1 概要
        p ・GMMのパラメータを推定する手法の提案
          |・ラドン変換でスライシングし低次元化
          |・p-Wasserstein距離の最小化を用いてGMMのパラメータ推定
    .item2
      .text
        p
          img(src=`${figpath}Sliced_Wasserstein_Distance_for_Learning_Gaussian_Mixture_Models.png`,alt="Sliced Wasserstein Distance for Learning Gaussian Mixture Models")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p ・Kullback-Leibler divergenceベースの手法より初期値に対してロバスト
          |・GMMは画像認識では多く使われているため，応用先が多い
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Kolouri_Sliced_Wasserstein_Distance_CVPR_2018_paper.pdf") 論文
          li
            a(href="https://github.com/skolouri/swgmm") github
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.20 22:18:26
