+slide
section#ID_Spline_Error_Weighting_for_Robust_Visual-Inertial_Fusion
  .paper-abstract
    .title Spline Error Weighting for Robust Visual-Inertial Fusion
    .info
      .authors Hannes Ovrén and Per-Erik Forssén
      .conference CVPR2018
    .slide_editor Ryota Suzuki

    .item1
      .text
        h1 概要
        p スプライン曲線あてはめにおいて，異なるタイプの残差のバランスがとれるような確率ベースの重みづけについて提案．
          |スプライン曲線あてはめの近似誤差の推定を統合するところが新しい．
        p また，スプライン曲線あてはめの質の尺度を提案．
          |スプライン曲線の中間点のスページングの自動化などに貢献できる．
    .item2
      .text
        p
          img(src=`${figpath}Spline_Error_Weighting_for_Robust_Visual-Inertial_Fusion.png`,alt="Figure1")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p ディープ系ではないが，先に行った推定結果を処理に使うというあたり，イマドキ感を感じる．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/CameraReady/2138.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.26 16:15:41
