+slide
  .title StarGAN: Unified Generative Adversarial Networks for Multi-Domain Image-to-Image Translation
  .info
    .authors Yunjey Choi, Minje Choi, Munyoung Kim, Jung-Woo Ha, Sunghun Kim, Jaegul Choo
    .conference CVPR2018, arXive:1711.09020
    .paper_id 872
  .slide_editor Hiroshi Fukui

  .item1
    .text
      h1 概要
      p 1つのネットワークでマルチドメイン対応の画像変換が可能なStarGANを提案．
        |pix2pixやCycleGANの場合，左上図のように特定の1つのドメイン変換しかできないため，複数のドメイン変換をする時には各ドメインを変換するネットワークをそれぞれ構築しなければいけない．
        |StarGANでは，入力する条件とロス設計を適切に設計することで，シンプルなネットワークで多ドメインな画像変換を実現している．
        |実験では，顔属性のCelebAと表情のRaFD Datasetを使用し，2つのデータセットでGANを学習して下図のような多様な顔画像変換を可能にしている．
  .item2
    .text
      p
        img(src=`${figpath}872_overview.png`,alt="872_overview.png")
  .item3
    .text
      h1 新規性・結果・なぜ通ったか？
      p StarGANの構造は，右上図のようになっている．
        |ここで，入力はそれぞれのドメインの画像がランダムに入力される．
        |まず，real imageとfake imageでDiscriminatorを学習する．
        |そして，次にGeneratorを学習する．
        |Generatorは，生成したい顔画像の条件とreal imageを入力して，画像変換する．
        |ここで，変換した画像はDiscriminatorに入力される．
        |変換した顔画像はCycleGANのようにreal imageを再変換する．
        |定義するロスは，一般的なAdversarial Loss，ドメインを認識するロス，real imageと再変換したimageのL1 Lossである．
        |また，複数のデータセットを学習するために，各データセットのラベルとデータセットの情報が格納されたMask vectorを導入している．
        |これにより，多ドメインかつ複数データセットに対応したGANを構築できている．
  .item4
    .text
      h1 コメント・リンク集
      p 多ドメインかつ複数データセットに対応したGAN．
        |変換するドメインの数に依存しないので，非常に用途が広がりそう．
      ul
        li
          a(href="https://arxiv.org/abs/1711.09020") 論文リンク
        li
          a(href="https://github.com/yunjey/StarGAN") コードリンク
  .slide_index #{getSlideIndex()}
  .timestamp 2018.5.8 01:27:52
