+slide
section#ID_Statistical_Tomography_of_Microscopic_Life
  .paper-abstract
    .title Statistical Tomography of Microscopic Life
    .info
      .authors Aviad Levis, Yoav Y. Schechner, Ronen Talmon
      .conference CVPR 2018
    .slide_editor Kazushige Okayasu

    .item1
      .text
        h1 概要
        p ランダムな3D方向、位置、およびスケールを有する3Dボリューム自然物体の断層を投影された2D画像から推定する3D-POPの提案
    .item2
      .text
        p
          img(src=`${figpath}Statistical_Tomography_of_Microscopic_Life.png`,alt="Statistical_Tomography_of_Microscopic_Life")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 従来手法(SPR)よりスケール変化による推定誤差が少ない
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Levis_Statistical_Tomography_of_CVPR_2018_paper.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.31 23:22:17
