+slide
section#Style_Aggregated_Network_for_Facial_Landmark_Detection
  .paper-abstract
    .title Style Aggregated Network for Facial Landmark Detection
    .info
      .authors Xuanyi Dong, Yan Yan, Wanli Ouyang, Yi Yang, University of Technology Sydney, The University of Sydney
      .conference CVPR 2018
    .slide_editor Munetaka Minoguchi
  
    .item1
      .text
        h1 概要
        p 顔のランドマーク検出。顔そのもののばらつきの他に、グレースケールやカラー画像、明暗などの画像スタイルが変わっても同様に検出できるStyle Aggregated Network(SAN)の提案。まず、(1)入力画像をさまざまなスタイルに変換し、スタイルを集約し、(2)顔のランドマーク予測する。(2)は、元画像とスタイルを集約した特徴の両方を入力し、融合してカスケード式のヒートマップ予測を生成する。
    .item2
      .text
        p
          img(src=`${figpath}180330SAN_1.jpg`)
    .item3
      .text
        h1 結果・リンク集
        p Flickr8kとFlickr30kを使った実験において、最先端モデルと同等かそれ以上の結果。より正確で、より多様なキャプション生成。
        ul
          li
            a(href="https://arxiv.org/pdf/1803.04108.pdf") 論文
          li
            a(href="https://github.com/D-X-Y/SAN") ソースコード
    .item4
      .text
        p
          img(src=`${figpath}180330SAN_2.jpg`)
    .slide_index #{getSlideIndex()}
    
