+slide
section#ID_Teaching_Categories_to_Human_Learners_with_Visual_Explanations
  .paper-abstract
    .title Teaching Categories to Human Learners with Visual Explanations
    .info
      .authors Oisin Mac Aodha, Shihan Su, Yuxin Chen, Pietro Perona and Yisong Yue
      .conference CVPR2018
    .slide_editor: a(href="https://sites.google.com/site/shinatoyamamoto/") Shintaro Yamamoto

    .item1
      .text
        h1 概要
        p 画像に写っているもののカテゴリをコンピュータが人間に教えるためのシステムEXPLAINを提案。
          |カテゴリを分類する上でどこに注目すればいいのか(例：蝶の種類を見分けるにはどこに注目すれば良いか）を提示することで人間がカテゴリを学習することを支援する。
    .item2
      .text
        p
          img(src=`${figpath}Teaching_Categories_to_Human_Learners_with_Visual_Explanations.png`,alt="Item3Image")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 従来の手法ではカテゴリを表すラベルを提示するのみであったが、重要領域を提示することでより効率的に人間が学習することを可能とした。
          |ユーザースタディにより人に学習してもらった内容に関するテストをしたところ、EXPLAINの方が短い時間で高い正答率を出すという結果を得られた。
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="https://arxiv.org/abs/1802.06924") link1
    .slide_index #{getSlideIndex()}
    .timestamp 2018.6.10 23:58:13


