+slide
  .title The Unreasonable Effectiveness of Deep Features as a Perceptual Metric
  .info
    .authors Richard Zhang et al.
    .conference CVPR 2018
  .slide_editor: a(href="https://sites.google.com/site/shinatoyamamoto/" target="blank") ShintaroYamamoto

  .item1
    .text
      h1 概要
      p 2枚の画像の類似度を表す指標は数多く提案されているが、その類似度は必ずしも人間の知覚と一致していない。
        |近年はDNNにより高次の特徴を得ることが可能となっており、人間の知覚に近づいている。
        |そこで、既存の類似度の評価尺度とDNNベースの類似度判定を比較することでDNNベースの手法がより人間の知覚に近い類似度を表現できることを確認した。
        |具体的には、ある画像を異なる方法で加工したもの2つを用意し、どちらが元の画像に近いかを人間とコンピュータ両方に判定させることで検証を行った。
  .item2
    .text
      p
        img(src=`${figpath}180408perception.png`,alt="Item3Image")
  .item3
    .text
      h1 新規性・結果
      p データセットとして、画像に様々な加工を施したデータを人間に類似度を評価してもらったものを作成。
        |加工の例としては、ノイズの付与やオートエンコーダによる画像の復元などが挙げられる。
        |検証の結果、ＤＮＮベースの類似度の方が既存の尺度より人間の知覚に乗っ取ってることを示した。
        |また、DNNのネットワーク構造そのものは重要ではないことが分かった。
  .item4
    .text
      h1 リンク集
      ul
        li
          a(href="https://richzhang.github.io/PerceptualSimilarity/") プロジェクトページ
  .slide_index #{getSlideIndex()}
  .timestamp 2018.4.8 01:36:55
