+slide
section#ID_TieNet_Text-Image_Embedding_Network_for_Common_Thorax_Disease_Classication_and_Reporting_in_Chest_X-ray
  .paper-abstract
    .title TieNet: Text-Image Embedding Network for Common Thorax Disease Classiﬁcation and Reporting in Chest X-ray
    .info
      .authors Xiaosong Wang et al.
      .conference CVPR2018
      .paper_id 1801.04334
    .slide_editor Takumu Ikeya

    .item1
      .text
        h1 概要
        ul
          li 胸部のレントゲン写真から胸部疾病の分類及び報告を行うためのテキスト画像埋め込みネットワークの提案．
          li 意味のあるテキストワードや画像領域を可視化するためのmultilevel attention modelsをend-to-endで学習可能なCNN-RNNアーキテクチャに統合．
    .item2
      .text
        p
          img(src=`${figpath}TieNet.PNG`,alt="TieNet.PNG")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        ul
          li 分類精度を向上させるため，学習からattentionベースの画像と文字列内部表現の両方を組み合わせる手法が特徴．
          li 提案したフレームワークは作成した評価用データセットの疾病ラベル割り当てタスクでAUCs平均0.9を達成．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="https://arxiv.org/pdf/1801.04334.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.6.19 16:12:55

