+slide
section#ID_Towards_Human-Machine_Cooperation_Self-Supervised_Sample_Mining_for_Object_Detection
  .paper-abstract
    .title Towards Human-Machine Cooperation: Self-Supervised Sample Mining for Object Detection
    .info
      .authors Keze Wang, Xiaopeng Yan, Dongyu Zhang, Lei Zhang, Liang Lin
      .conference CVPR 2018
    .slide_editor Kazushige Okayasu

    .item1
      .text
        h1 概要
        p ・学習画像群の中から物体検出の学習に有益な画像を探索する手法Self-Supervised Sample Miningを提案
    .item2
      .text
        p
          img(src=`${figpath}Towards_Human-Machine_Cooperation_Self-Supervised_Sample_Mining_for_Object_Detection.png`,alt="Towards_Human-Machine_Cooperation_Self-Supervised_Sample_Mining_for_Object_Detection")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p ・ラベルのないデータを追加して精度向上させるだけでなく、アノテーションの数を大幅に減らしてstate-of-the-artの精度を実現
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/CameraReady/3145.pdf") 論文
          li
            a(href="https://github.com/yanxp/SSM") Github
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.25 17:55:34
