+slide
section#ID_Towards_Open-Set_Identity_Preserving_Face_Synthesis
  .paper-abstract
    .title Towards Open-Set Identity Preserving Face Synthesis
    .info
      .authors Jianmin Bao, et al.
      .conference CVPR 2018
    .slide_editor Munetaka Minoguchi
  
    .item1
      .text
        h1 概要
        p 顔画像からidentityとattributesを別々に再構成する、GANに基づいたOpen-Set Identity Generating Adversarial Networkの提案。 face synthesis networkは、ポーズや感情、照明、背景などをキャプチャする属性ベクトルを抽出することができる。図中の2つの入力画像AおよびBから抽出された識別を再結合することによって、A0およびB0を生成することができる。
    .item2
      .text
        p
          img(src=`${figpath}180401OSIPFS_1.jpg`)
    .item3
      .text
        h1 新規性・結果・リンク集
        p 顔の正面化、顔属性モーフィング、 face adversarial example detectionなど、より広範なアプリケーションに応用可能。
        ul
          li
            a(href="https://arxiv.org/pdf/1803.11182.pdf") 論文
    .item4
      .text
        p
          img(src=`${figpath}180401OSIPFS_2.jpg`)
    .slide_index #{getSlideIndex()}
    

