+slide
section#ID_Translating_and_Segmentating_Multimodal_Medical_Volumes_with_Cycle-_and_Shape-Consistency_Generative_Adversarial_Network
  .paper-abstract
    .title Translating and Segmentating Multimodal Medical Volumes with Cycle- and Shape-Consistency Generative Adversarial Network
    .info
      .authors Zizhao Zhang, Lin Yang, Yefeng Zheng
      .conference CVPR 2018
    .slide_editor Takahiro Itazuri

    .item1
      .text
        h1 概要
        p 医療画像処理ではCTやMRIなどの異なった種類のデータが存在する。医療の現場において、CTとMRIはどちらも必要となる場面がある一方で、どちらか一方しかデータが存在しないことも多々発生している。そこで本論文では、CTとMRIという3D画像データ間のドメイン変換を行うタスクに取り組んだ。またCTとMRIのそれぞれからセグメンテーションを行うネットワークも学習させた。
    .item2
      .text
        p
          img(src=`${figpath}Traslating_and_Segmentating_Multimodal_Medical_Volumes_with_Cycle_and_Shape_Consistency_Generative_Aversarial_Network.png`,alt="img")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p 2D画像におけるImage-to-Image Translationに対応する、医療3D画像におけるVolume-to-Volume Translationに対して以下の点に取り組んだ。
        ul
          li 画像ペアがないデータセットにおける学習を行った点
          li 解剖学的構造に矛盾が出ないようにした点
          li 合成画像を利用して、セグメンテーションの精度を向上させた点
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Zhang_Translating_and_Segmenting_CVPR_2018_paper.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.6 18:22:51
