+slide
section#ID_Viewpoint-aware_Attentive_Multi-view_Inference_for_Vehicle_Re-identification
  .paper-abstract
    .title Viewpoint-aware Attentive Multi-view Inference for Vehicle Re-identification
    .info
      .authors Yi Zhou and Ling Shao
      .conference CVPR2018
    .slide_editor Kazuho Kito

    .item1
      .text
        h1 概要
        p 多視点での車両の再識別問題を解決するために，視覚情報のみを用いたViewpoint-aware Attentive Multi-view Inference(VAMI)モデルを提案．VAMIは，任意の視点の車両画像を与えると，入力画像毎に単一視点の特徴を抽出し，その特徴を可変多視点の特徴表現に変換する．また，異なる視点で重要となるコア領域を選択し，敵対的学習で効果的なマルチビューの特徴推論を実装するため，視覚的なアテンションモデルを採用．
    .item2
      .text
        p
          img(src=`${figpath}Viewpoint-aware_Attentive_Multi-view_Inference_for_Vehicle_Re-identification.PNG`,alt="Viewpoint-aware_Attentive_Multi-view_Inference_for_Vehicle_Re-identification.PNG")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        p VeRiとVehicleIDの2つのデータセットでの車両の再識別についてstate-of-the-artよりも改善．
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="http://openaccess.thecvf.com/content_cvpr_2018/CameraReady/0593.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.7.30 20:44:31
