+slide
  .title Who Let The Dogs Out? Modeling Dog Behavior From Visual Data
  .info
    .authors Kiana Ehsani, et al.
    .conference CVPR 2018
  .slide_editor Munetaka Minoguchi

  .item1
    .text
      h1 概要
      p 犬視点の大規模ビデオデータセットを作成し、このデータを使用した、犬の行動や行動計画のモデル化。次の3つの問題に焦点を当てる。(1)犬の行動予測。(2)入力された画像対から犬のような行動計画を見出す。(3)例えば、歩行可能な表面推定などのタスクについて、学習された表現を利用。
  .item2
    .text
      p
        img(src=`${figpath}180401DogsOut.jpg`)
  .item3
    .text
      h1 新規性
      p 視覚情報からintelligent agent(知的エージェント)を直接的にモデリングするタスク。犬の視覚情報を使うことで、行動をモデル化する斬新な取り組み。得られたモデルをAIなどに応用する。特に、歩行可能な表面推定のタスクで良い結果となる。
  .item4
    .text
      h1 結果・リンク集
      p 様々なエージェントやシナリオで使用でき、ラベルがないにもかかわらず有用な情報を学習することが可能。今後は、モデルやデーセットの拡張に挑む。
      ul
        li
          a(href="https://arxiv.org/pdf/1803.10827.pdf") 論文
  .slide_index #{getSlideIndex()}
  