+slide
section#ID_Wrapped_Gaussian_Process_Regression_on_Riemannian_Manifolds
  .paper-abstract
    .title Wrapped Gaussian Process Regression on Riemannian Manifolds
    .info
      .authors Anton Mallasto, et al.,
      .conference CVPR 2018
    .slide_editor Munetaka Minoguchi
  
    .item1
      h1 概要
      .text.
        マニフェルドのターゲットのコンテキストにGaussian process(GP)回帰を確率的に適用し、リーマン多様体のWrapped Gaussian Processes(WGPs)によって、ベクトル空間のデータに限定されるGPを拡張する取り組み。

    .item2
      img(src=figpath+"180801WGPs.jpg")

    .item3
      h1 新規性・結果・なぜ通ったか？
      .text
        p 図において、(a)は、通常のGP回帰。黒曲線は予測値であり、他の色の曲線は予測分布からのサンプルであり、球体から大きくずれている。(b)は、データの幾何学的制約を考慮したWGP回帰を使用している結果。

    .item4
      h1 コメント・リンク集
      .text
        p diffusion weighted imaging(DWI)や球上の指向性データ、ケンドール形状空間で検証。多様な値の回帰のための効率的かつ柔軟な手法としてWGP回帰の有効性を示唆。
        ul
          li: a(href="http://openaccess.thecvf.com/content_cvpr_2018/papers/Mallasto_Wrapped_Gaussian_Process_CVPR_2018_paper.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.8.1 8:36:40


