+slide
section#Zero-Shot_Sketch-Image_Hashing
  .paper-abstract
    .title Zero-Shot Sketch-Image Hashing
    .info
      .authors Yuming Shen, Li Liu, Fumin Shen and Ling Shao
      .conference CVPR2018
    .slide_editor Yuta Matsuzaki

    .item1
      .text
        h1 概要
        p 大規模スケッチベース画像検索において，既存の手法では学習中にカテゴリの存在しないスケッチクエリがある場合失敗するという問題がある．本稿ではそのような問題を解決するZero-shot Sketch-image Hashing(ZSIH)モデルを提案した．2つのバイナリエンコーダとデータ間の関係を強化する計3つのネットワークで構成される．重要な点として，Zero-shot検索での意味的な表現を再構成する際に生成的ハッシングスキームを定式化する点である．Zero-shotハッシュ処理を行う初のモデルであり，関連する研究と比較しても著しく精度が向上した．
    .item2
      .text
        p
          img(src=`${figpath}20180522_ZSIH1.png`,alt="1")
          img(src=`${figpath}20180522_ZSIH2.png`,alt="2")
    .item3
      .text
        h1 新規性・結果・なぜ通ったか？
        ul
          li スケッチイメージハッシングの研究において初のZero-shot
          li 意味的な表現を再構成する際に生成的ハッシングスキームを定式化
    .item4
      .text
        h1 コメント・リンク集
        ul
          li
            a(href="https://arxiv.org/pdf/1803.02284.pdf") 論文
    .slide_index #{getSlideIndex()}
    .timestamp 2018.5.22 16:03:53
